  /* .content-main{ 
         width: 60%;
        margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
        background-color: white; 
 } 

 .content-main h1 {
    color: var(--green-theme);
    font-weight: 700;
    font-family: "Arvo", serif;
    font-size: 3rem;


}

.content-main h2 {
    color: var(--green-theme);
    font-weight: 400;
    font-family: "Arvo", serif;
    font-size: 2rem;

}

.content-main p {
    line-height: 2.5rem;
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    margin: 2rem 0;
    color: black;
   

}


/* ================================================================= */


/* .div_principal {
    width: 100%;
    
}

.div_conteudo {
        width: 60%;
        margin: 0 auto;
        margin-top: 10vh;
        margin-bottom: 10vh;
        display: flex;
        flex-direction: column;
    
}

.div_conteudo h1,h2,h3,p{
    color: black;
}



.img {
    text-align: center;
    margin-block: 5rem;
    max-width: 100%;
}

.div_conteudo h1 {
    text-align: center;
}

.div_conteudo li:first-child {
    margin-top: 4rem;
}

.div_conteudo li:not(:last-child) {
    margin-bottom: 4rem;
}

h4 {
    color: var(--green-theme);
}

.div_conteudo h2 {
    color: var(--green-theme);
    font-weight: 700;
    font-family: "Arvo", serif;
    font-size: 2.5rem;
    text-align: center;
    margin: 4rem 0;
}

.div_conteudo h3 {
    color: var(--green-theme);
    font-weight: 400;
    font-family: "Arvo", serif;
    font-size: 2.1rem;
    margin: 3rem 0;

}

.div_conteudo img {
    width: 900px;
    height: 550px;
    text-align: center;
}


.conteudo-caract h2 {
    font-weight: 700;
    font-size: 2.5rem;
    text-align: center;

}

.conteudo-caract p {
    padding-left: 1rem;
}   */

 /*  quiz */
.quiz-link {
    width: 60%;
    margin: 0 auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quiz-link a {
    border-radius: 2rem;
    padding: 2rem;
    background: var(--tomato);
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease-in-out;
    text-align: center;


}

.quiz-link a:hover {
    transform: scale(1.1);
} 




/* CSS de eventos p/ padronização */

.container-eventos{
    width: 100%;
    margin: 0;
    padding:10rem 10%
}

.container-eventos h2{
    color: var( --green-theme);
    font-family: "Arvo", serif;
    font-size: 2.6rem;
    font-weight: 500;
}

.container-eventos h3{
    color: var( --green-theme);
    font-family: "Arvo", serif;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 5rem;
}

.container-eventos p{
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2.4rem;
    text-align: justify;
}


.container-eventos img{
    width: 85%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.img{
    text-align: center;
}




.section-content{
    margin-top: 8rem
}

.section-content ul li{
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    margin-top: 2rem;
    list-style: circle;
    margin-top: 3rem;
    margin-left: 6rem;
}

/* responsividade para resoluções até 768px, tablets e celulares*/
/* pode alterar se quiser, só adicionei como eu tinha feito na minha pagina aqui */
@media screen and (max-width: 768px) {
    .container-eventos{
        min-width: 320px;
    }
    
    .container-eventos p{
        font-size: 0.75rem;
        margin-bottom: 0.5rem;
        line-height: 1.5rem;
    }
    
    .container-eventos h1{
        font-size: 1.5rem;
        margin: 0.5rem 0 0.5rem 0;
    }
    
    .container-eventos h2{
        font-size: 1rem;
        margin: 1rem 0 1rem;
    }
    
    .container-eventos img{
        width: 95%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .section-content ul li{
        font-size: 1rem;
        margin-top: 2rem;
        margin-top: 2rem;
        margin-left: 0rem;
    }

    .section-content{
        margin-top: 4rem
    }
}

.img {
    text-align: center;
    margin-block: 5rem;
    max-width: 100%;
}