

 /*  quiz */
.quiz-link {
    width: 60%;
    margin: 0 auto;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.quiz-link a {
    border-radius: 2rem;
    padding: 2rem;
    background: var(--tomato);
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    transition: all 0.3s ease-in-out;
    text-align: center;


}

.quiz-link a:hover {
    transform: scale(1.1);
} 




/* CSS de eventos p/ padronização */


.card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
    margin: 0;
    padding:5rem;

}

.card h2{
    text-align: center;
    margin-bottom: 1rem;
}

.card {
    border-color: black;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 40%;
    margin: 20px;
    padding: 2rem;
    transition: transform 0.3s ease;
    height: auto;
}

.card:hover {
    transform: scale(1.05);
}

@media screen and (max-width:768px){
    .card-container{
        margin: 0;
        padding: 0;
    }
    .card{
        padding: 10px;
        margin: 0;
        width: 95%;
        margin-bottom: 2rem;
    }
}


.topico-resumo{
    list-style-type: disc;
    padding-left: 40px;
    color: #555;
}

.topico-resumo li{
    margin-bottom: 20px;
}

