
@keyframes fadein {
    100%{opacity: 1;}
    0%{opacity: 0;}
}





.sub1 {
    animation: fadein 5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 20%;
    text-align: center;
    background-color: #F5F5F5;
} 


.sub2{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    background-color: rgb(234, 241, 248);
}  


.sub3{
    display: flex;
    flex-direction: raw;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
    background-color: #F5F5F5;
}  



.sub5{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 0.5rem;

}
.sub5cont{

    text-align: center;
}
.subtitle1, .subtitle2, .subtitle3, .subtitle5{
    font-size: 40px;
}

@media screen and (max-width: 1055px){
    
    .sub2 {
        display: flex;
        flex-direction: column;
    }
    .sub3 {
        display: flex;
        flex-direction: column-reverse;
    }
    .sub3cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub5{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 980px) {
    .sub2 {
        display: flex;
        flex-direction: column;
    }
    .sub3 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .imgsub3{
        width: 50%;
        height: 50%;
    }
    .sub3cont{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sub5 {
        display: flex;
        flex-direction: column;
        
    }
}
@media screen and (max-width: 870px) {
    .sub2img {
        width: 45%;
        height: 45%;
    }
    .lista li{
        margin-block: 1rem;
        margin-inline: 0;
        list-style: none;
    }
}
@media screen and (max-width: 750px) {
    .subtitle1, .subtitle2, .subtitle3, .subtitle5{
        font-size: 30px;
    }
    .imgsub3{
        width: 60%;
        height: 60%;
    }
    .imgsub5 {
        width: 50%;
        height: 50%;
    }
}
@media screen and (max-width: 650px){
    .sub2img{
        width: 100%;
    }
    .imgsub3{
        width: 70%;
        height: 70%;
    }
    .imgsub5 {
        width: 60%;
        height: 60%;
    }
}
@media screen and (max-width: 500px){
    .sub2{
        padding: 0;
    }
    
    .imgsub3{
        width: 80%;
        height: 80%;
    }
    .imgsub5 {
        width: 70%;
        height: 70%;
    }
}
