.container-eventos{
    width: 100%;
    margin: 0;
    padding:10rem 10%
}

.container-eventos h2{
    color: var( --green-theme);
    font-family: "Arvo", serif;
    font-size: 2.6rem;
    font-weight: 500;
}

.container-eventos h3{
    color: var( --green-theme);
    font-family: "Arvo", serif;
    font-size: 2rem;
    font-weight: 500;
    margin-top: 5rem;
}

.container-eventos p{
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    margin-top: 2rem;
    line-height: 2.4rem;
    text-align: justify;
}


.container-eventos img{
    width: 85%;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.img{
    text-align: center;
}




.section-content{
    margin-top: 8rem
}

.section-content ul li{
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    margin-top: 2rem;
    list-style: circle;
    margin-top: 3rem;
    margin-left: 6rem;
}