
body{
    background-color: rgb(230, 230, 230);
    font-family: "Arvo", serif;
    
    
}


h1,h2,h3{
    margin:3rem 0 3rem 0;
}

p{
    text-indent: 2rem;
}

/* ############# PRINCIPAL ################ */

.kanban-principal{
    font-family: "Arvo", serif;
}

.kanban-principal h1{
    display: flex;
    justify-content: center;
    font-size: 350%;
}

.kanban-principal p{
    font-size: 150%;
    display: flex;
    justify-content: center;
}

.kanban-principal h2{
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #0075dc; 

}

.subtitulos{
    display: flex;
    justify-content: space-around;
    
}

/* ############# Conceitos ################ */

.display-flex{
    display: flex;
    justify-content: space-evenly;

}

.content-flex:last-child{
    width: 60rem;

    
}

.conceitos h1{
    padding: 9% 0% 0% 10%;
    color: #0075dc;
}

.conceitos h3{
    padding-left: 10%;
}

.conceitos p{
    padding-left: 8%;
}

.img{
    width: 50%;
    height: auto;
    border-radius: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

.img:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* ############# Aplicação ################ */


.aplicação{
    padding: 5% 0% 5%;
}

.aplicação h1{
    display: flex;
    justify-content: center;
    color: #0075dc;
}

.aplicação h3{
    display: flex;
    justify-content: center;
}

.aplicação p{
    display: flex;
    justify-content: center;
    padding: 1% 15%;
}

/* ############# Kanban vs Scrum ################ */

.vantagens h1{
    display: flex;
    justify-content: center;
    color: #0075dc; 

}

.vantagens p{
    display: flex;
    justify-content: center;
    font-size: medium;
}

.card{
    border: 2px solid #0075dc;
    background-color:aliceblue;
    border-radius: 2%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 35%;
    height: auto;
    
}

.card:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.quadro-kanban{
    width: 70%;
}

/* teste */

