
body{
    /* background-color: rgb(230, 230, 230); */
    background-color: #f5f5f5;
    font-family: "Arvo", serif;
    
    
}


h1,h2,h3{
    margin:3rem 0 3rem 0;
}

p{
    text-indent: 2rem;
}

/* ############# PRINCIPAL ################ */

.kanban-principal{
    font-family: "Arvo", serif;
}

.kanban-principal h1{
    display: flex;
    justify-content: center;
    font-size: 350%;
}

.kanban-principal p{
    font-size: 150%;
    display: flex;
    justify-content: center;
}

.kanban-principal h2{
    display: flex;
    justify-content: center;
    font-size: 200%;
    color: #0075dc; 

}

.subtitulos{
    display: flex;
    justify-content: space-around;
    
}

/* ############# Conceitos ################ */

.display-flex{
    display: flex;
    justify-content: space-evenly;

}

.content-flex:last-child{
    width: 60rem;

    
}

.conceitos{
    padding: 1rem 4rem;
}
.conceitos h1{
    color: #0075dc;
}


.conceitos img{
    width: 50%;
    height: auto;
    border-radius: 5%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    
}

.img:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* ############# Aplicação ################ */


.aplicação{
    padding: 5% 10%;
}

.aplicação h1{
    display: flex;
    color: #0075dc;
}

.aplicação h3{
    display: flex;
}

.aplicação p{
    padding: 1% 15%;
}

/* ############# Kanban vs Scrum ################ */

.vantagens h1{
    display: flex;
    justify-content: center;
    color: #0075dc; 

}

.vantagens p{
    display: flex;
    justify-content: center;
    font-size: medium;
}

.card-flex{
    border: 2px solid #0075dc;
    padding: 2rem;
    background-color:aliceblue;
    border-radius: 3rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    margin-bottom: 3rem;
    
    
}

.card-flex p{
    text-align: justify;
}

.card-flex:hover{
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.quadro-kanban{
    width: 70%;
}

/* teste */

@media screen and (max-width:768px){
    .subtitulos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .subtitulos-div{
        text-align: center;
    }

    .display-flex{
        width: 100%;
        display: flex;
        flex-direction: column;
        

    }

    .card-flex{
        margin: 2rem auto;

    }

    .vantagens{
        text-align: center;
    }
}