@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=VT323&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

@import url('/static/css/index.css');
@import url('/static/css/eventos.css');
@import url('/static/css/product.css');
@import url('/static/css/questionario.css');
@import url('/static/css/estimativa.css');
@import url('/static/css/avaliacao.css');


:root {
  --header-height: 4rem;

  --primary-color: rgba(20, 177, 177, 0.5);
  --overlay-color: rgba(24,39,51,0.85);
  --menu-speed: 0.75s;

  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: #f5f5f5;


  --index-body-color: #fff9f9;
  --color-red: rgb(255,0,0);
  --main-container-height:60rem;
  --grey-color:rgb(40, 42, 53);
  --green-theme:#00C1B3;
  --yellow:#fff4a3;
  --tomato:#FF6347;
  --color: #F22613;


 
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: .938rem;


  --font-regular: 400;
  --font-semi-bold: 600;

  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  overflow-y: auto;
 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}



.h-home{
  height: 90vh;
}



#scroll img{
  width: 4rem;
  height: 4rem;
  display: inline;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}


.download-div h1{
  color: var( --green-theme);
  font-family: "Arvo", serif;
  font-size: 3rem;
  margin: 5rem 0;
}

/* ##############RESUME CARDS########################## */

.resume-section{
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

}
.resume-title{
  width: 100%;
  padding: 2rem;
  text-align: center;
  
}

.resume-title h2{
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 2rem;
  color: var(--green-theme);
}
.resume-card{
  margin: 3rem;
  width: 40%;
  height: auto;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.resume-card p{
  font-family: "Arvo", serif;
  font-size: 1.5rem;
  text-align: justify;
}


.resume-card h3{
  font-family: "Arvo", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.resume-card li{
  list-style-type: disc;
  margin: 1rem 0;

}

/* DOR E DOD */

.dor-dod-intro{
  background: cornflowerblue;
  width: 100%;
  height: 20vh;
  margin-top: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dor-dod-intro h1{
  font-family: "Arvo", serif;
  font-size: 3rem;
  font-weight: 700;
  color: white
}

.section-content{
  width: 80%;
  margin: 0 auto;
  font-family: "Arvo", serif;
}

.section-content h2{
  font-size: 2.4rem;
  margin: 4rem 0;
}

.section-content p{
  font-size: 1.5rem;
  margin:2rem 0;
}

.section-content li{
  font-size: 1.5rem;
  margin:2rem 0 0 0;
  list-style: circle;
}

.animated-effect{
  visibility: hidden;
}




/* HEADER PAGINAS DE CONTEUDO */


.contact-links{
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 980px;
    flex-wrap: wrap;
    margin-left: 54.5rem; 
    margin-top: -12rem;
}

.menu-wrap{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 100%;

    
}
.menu-wrap .toggler{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;

    opacity: 0;

}
.menu-wrap .hamburger{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: #222;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger >div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: var(--overlay-color);
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
     transform: scale(0); 
    transition: all 0.4s ease;
}
.menu-wrap .menu > div >div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
     opacity: 0; 
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu >div > div > ul > li > a{
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

/* ########################################################################### */

@media screen and (max-width:1200px){
  .fundo-sc{
    display: flex;
    flex-direction: column;
  }
  .resume-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75%;
  }
}
@media screen and (max-width:800px){
  .resume-card{
      width: 95%;
      height: 75%;
    }
}



/* #################### PAGINATION ######################### */

.pagination {
  padding: 30px 0;
  display: flex;
  justify-content: center; /* Centraliza os itens */
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px; /* Espaço entre os botões */
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  color: #222;
  border-radius: 5px; /* Adiciona bordas arredondadas */
  transition: background-color 0.3s; /* Suaviza a transição da cor de fundo */
}

.pagination a:hover {
  transform: scale(1.05);
}

.p7 a {
  border: 3px solid #2ecc71;
  color: #2ecc71;
  font-weight: bold;
}

.p7 .is-active {
  background-color: #2ecc71;
  color: #fff;
}

@media (min-width: 1200px) {
  .pagination a {
      padding: 14px 25px; /* Aumenta o tamanho do padding em 40% */
      font-size: 1.4rem; /* Aumenta o tamanho da fonte */
  }
}


/* ########################TELA DE LOGIN E REGISTRO######################################## */
.container-login{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.login-form{
  background: #222;
  padding: 6rem 6rem;
  width: 80%;
  margin: 10rem;
  border-radius: 3rem;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
 
}

.login-form form{
  display: flex;
  flex-direction: column;
  gap: 3rem;

  
}

.login-form h1{
  font-size: 3rem;
  margin:1rem auto;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.login-form a{
  color: #fff;
  text-decoration: none;
  text-align: center;
  
}

.input-login{
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  height: 4rem;
  padding: 0.5rem;
  transition: box-shadow 0.3s ease;
  border: 1px solid #ced4da;

}

.input-login:focus {
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3); /* Adiciona uma sombra quando o campo está em foco */
}

.input-button{
  width: 60%;
  max-width: 350px;
  margin: 0 auto;
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  font-size: 1.3rem;
}

.input-button:hover{
  transform: scale(1.02);

}


.btn-remover{
  text-align: center;
  text-decoration: none;
 color: #fff;
 font-weight: 400;

 

 
}
@media screen and (max-width:768px){

  .container-login{
    background: #222;
    height: 100vh;
  }
  .login-form {
    padding: 5rem 0.1rem;
    width: 100%;
    margin-inline: 0;
  
  }
  .login-form h1{
    font-size: 2rem;
  }

  .login-form a:first-child{
   overflow: hidden;
  }
}


.table tbody{
 
  vertical-align: middle;
 


}

.table tbody td:last-child{
  background-color: rgb(255, 110, 110);
  text-align: center;
 


}





