@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yanone+Kaffeesatz:wght@200..700&display=swap');
@import url('/static/css/eventos.css');
@import url('/static/css/product.css');
@import url('/static/css/questionario.css');
@import url('/static/css/estimativa.css');
@import url('/static/css/avaliacao.css');


:root {


  --primary-color: rgba(20, 177, 177, 0.5);
  --overlay-color: rgba(24,39,51,0.85);
  --menu-speed: 0.75s;

  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --white-color: #fff;
  --body-color: #f5f5f5;


  --index-body-color: #fff9f9;
  --color-red: rgb(255,0,0);
  --main-container-height:60rem;
  --grey-color:rgb(40, 42, 53);
  --green-theme:#00C1B3;
  --blue-theme:rgb(72, 103, 143);
  --yellow:#fff4a3;
  --tomato:#FF6347;
  --color: #F22613;

  --body-font: "Montserrat", sans-serif;


  --font-regular: 400;
  --font-semi-bold: 600;
  --flashcard-color:#E0E0CE;
  --z-tooltip: 10;
  --z-fixed: 100;
}


@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  overflow-y: auto;
  overflow-x: hidden;
 
}

ul {
  list-style: circle;
  margin-block: 2rem;

}

li{
  list-style: none;
}

a {
  text-decoration: none;
}

.bolder-centralized{
  font-weight: bolder;
  text-align: center;

  

}



.h-home{
  height: 90vh;
}



#scroll img{
  width: 4rem;
  height: 4rem;
  display: inline;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}


/* ##############RESUME CARDS########################## */

.resume-section{
  width: 80%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 

}

.resume-title{
  width: 100%;
  padding: 2rem;
  text-align: center;
  
}

.resume-title h2{
  font-weight: bolder;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.resume-card{
  margin: 3rem;
  width: 40%;
  height: auto;
  border: 0.1rem solid black;
  border-radius: 1rem;
  padding: 3rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

}
.resume-card p{
  font-family: "Poppins", serif;
  font-size: 1.5rem;
  text-align: justify;
}


.resume-card h3{
  font-family: "Poppins", serif;
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.resume-card li{
  list-style-type: disc;
  margin: 1rem 0;

}

/* DOR E DOD */

.theme-intro{
  background: var(--blue-theme);
  width: 100%;
  height: 20vh;
  margin-block: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

}

.theme-intro h1{
  font-family: "Poppins", serif;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}




/* #####################SECTION CONTENT - CONTENT PAGES STANDARD */
h1,h2,h3{
  color: var(--blue-theme);
}

h1{
  font-size: 4rem;
}
h2{
  font-size: 2.2rem;
}

h3{
  font-size: 2rem;
}

p{
  font-size: 1.4rem;
  line-height: 2.2rem;
  text-align: justify;
  gap: 5rem;
  margin:  6rem 0;
  text-indent: 0.2rem;
}

@media screen and (max-width:1024px){
  .container-video h1{
    font-size: 5rem
  }
  h1{
    font-size: 2.5rem;
  }
  h2{
    font-size: 1.8rem;
  }
  
  h3{
    font-size: 1.6rem;
  }
  
  p{
    font-size: 1.2rem;
  }
}

@media screen and (max-width:500px){
  .container-video h1{
    font-size: 4rem
  }
  h1{
    font-size: 1.8rem;
  }
  h2{
    font-size: 1.3rem;
  }
  
  h3{
    font-size: 1.1rem;
  }
  
  p{
    font-size: 0.9rem;
  }
}

@media screen and (max-width:250px){

  .container-video h1{
    font-size: 3rem
  }
  h1{
    font-size: 1.2rem;
  }
  h2{
    font-size: 1.0rem;
  }
  
  h3{
    font-size: 0.9rem;
  }
  
  p{
    font-size: 0.6rem;
  }
}

.section-content{
  width: 100%;
  max-width: 1500px;
  padding: 1rem;
  margin: 1rem auto;
}



.section-content h2, h3{
  text-align: left;
}

.section-content li{
  list-style: circle;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

@media screen and (max-width:350px){

  summary{
    font-size: 0.5rem!important;
  }

  .section-content p{
    font-size: 1rem;
    line-height: 1.8rem;

  }

  .section-content h1{
    font-size: 1.4rem;
  }

  .section-content h2{
    font-size: 1.2rem;
    text-align: center;
  }

  .section-content h3{
    font-size: 1.1rem;
  }

  .section-content li{
    font-size: 1rem;
    margin-bottom: 1rem;

  }
  
}

@media screen and (max-width:200px){

  .quemsomos{
    padding:10px;
  }
  .container-video h1{
    font-size: 1.6rem
  }

  .section-content li{
    font-size: 0.5rem;

  }

  .section-content p{
    font-size: 0.5rem;

  }

  .section-content h1{
    font-size: 1rem;
  }

  .section-content h2{
    font-size: 0.9rem;
    text-align: center;
  }

  .section-content h3{
    font-size: 0.7rem;
  }

 

  li{
    font-size: 0.5rem;

  }

  p{
    font-size: 0.5rem;
    line-height: 1.5rem;

  }

  h1{
    font-size: 1rem;
  }

  h2{
    font-size: 1rem;
    text-align: center;
  }

  h3{
    font-size: 0.9rem;
  }

 
}
/* DIV IMAGEM IMG */
.img{
  width: 100%;
  text-align: center;
  padding: 0;
  margin-block: 2rem;
 
  
}

.img img{
  width: 100%;
  max-height: 600px;
  max-width: 1200px;
  text-align: center;
}

/* JAVASCRIPT VISUAL EFFECTS  */


.animated-effect{
  visibility: hidden;
}



/* HEADER PAGINAS DE CONTEUDO */

.contact-links{
    display: flex;
    justify-content: center;
    width: 200px;
    max-width: 980px;
    flex-wrap: wrap;
    margin-left: 54.5rem; 
    margin-top: -12rem;
}

.menu-wrap{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 100%;

    
}
.menu-wrap .toggler{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;

    opacity: 0;

}
.menu-wrap .hamburger{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: #222;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Hamburger line */
.menu-wrap .hamburger >div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
/* Top and bottom lines */
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after{
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}
/* Moves line down */
.menu-wrap .hamburger > div:after{
    top: 10px;
}
/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger > div{
    transform: rotate(135deg);
}
/* Turn Lines into X */
.menu-wrap .toggler:checked + .hamburger > div:before,
.menu-wrap .toggler:checked + .hamburger > div:after{
    top: 0;
    transform: rotate(90deg);
}
/* Rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger > div{
    transform: rotate(225deg);
}
/* Show menu */
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div{
    transform: scale(1);
    transition-duration: var(--menu-speed);
}
.menu-wrap .toggler:checked ~ .menu > div > div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     visibility: hidden; 
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu > div{
    background-color: var(--overlay-color);
    border-radius: 50%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0); 
    transition: all 0.4s ease;
}
.menu-wrap .menu > div >div{
    text-align: center;
 
     opacity: 0; 
    transition: opacity 0.4s ease;
}
.menu-wrap .menu > div > div > ul > li {
   
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    padding-left: 10%;
}

.menu-wrap .menu >div > div > ul > li > a{
    color: inherit;
    transition: color 0.4s ease;
}

/* ########################################################################### */

@media screen and (max-width:1200px){
  .fundo-sc{
    display: flex;
    flex-direction: column;
  }
  .resume-section{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .resume-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    height: 75%;
  }
}
@media screen and (max-width:800px){
  .resume-card{
      width: 95%;
      height: 75%;
    }

 
}



/* #################### PAGINATION ######################### */

.pagination {
  padding: 30px 0;
  display: flex;
  justify-content: center; /* Centraliza os itens */
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 10px; /* Espaço entre os botões */
}

.pagination a {
  display: inline-block;
  padding: 10px 18px;
  margin: 0 auto;
  color: #222;
  border-radius: 5px; /* Adiciona bordas arredondadas */
  transition: background-color 0.3s; /* Suaviza a transição da cor de fundo */
}

.pagination a:hover {
  transform: scale(1.05);
}

.p7 a {
  border: 0.1rem solid var(--blue-theme);

  color: var(--blue-theme);
  font-weight: bold;
}

.p7 .is-active {
  background-color: var(--blue-theme);
  color: #fff;
}

@media (min-width: 1200px) {
  .pagination a {
      padding: 14px 25px; /* Aumenta o tamanho do padding em 40% */
      font-size: 1.4rem; /* Aumenta o tamanho da fonte */
  }
}

@media screen and (max-width:250px){
  .pagination ul{
      flex-direction: column;

  }
}


/* ########################TELA DE LOGIN E REGISTRO######################################## */
.container-login{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.login-form{
  background: #222;
  padding: 6rem 6rem;
  width: 80%;
  margin: 10rem;
  border-radius: 3rem;
  
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  
 
}

.login-form form{
  display: flex;
  flex-direction: column;
  gap: 3rem;

  
}

.login-form h1{
  font-size: 3rem;
  margin:1rem auto;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.login-form a{
  color: #fff;
  text-align: center;
  
}

.input-login{
  width: 90%;
  margin: 0 auto;
  border-radius: 0.5rem;
  height: 4rem;
  padding: 0.5rem;
  transition: box-shadow 0.3s ease;
  border: 1px solid #ced4da;

}

.input-login:focus {
  box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3); /* Adiciona uma sombra quando o campo está em foco */
}

.input-button{
  width: 60%;
  max-width: 350px;
  margin: 0 auto;
  height: 4rem;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  font-size: 1.3rem;
}

.input-button:hover{
  transform: scale(1.02);

}


.btn-remover{
  text-align: center;
  color: #fff;
  font-weight: 400;

 

 
}
@media screen and (max-width:768px){

  .container-login{
    background: #222;
    height: 100vh;
  }
  .login-form {
    padding: 5rem 0.1rem;
    width: 100%;
    margin-inline: 0;
  
  }
  .login-form h1{
    font-size: 2rem;
  }

  .login-form a:first-child{
   overflow: hidden;
  }

  .hideInSmallDevices{
    display: none;
  }

  .container-login{
    margin-top: 0;
  }
  
}


.table tbody{
 
  vertical-align: middle;
 


}

.table tbody td:last-child{
  background-color: rgb(255, 110, 110);
  text-align: center;
 


}

/*################################# Pagina de modulos ########################## */

.navtabs {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 10px 20px;
  position: relative;
}

.navtab {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.navtab:hover {
  color: var(--blue-theme);
}

.navtab.active {
  color: var(--blue-theme);
  font-weight: 600;
}

.underline {
  position: absolute;
  bottom: 0;
  height: 2px;
  background: var(--blue-theme);
  transition: left 0.3s ease, width 0.3s ease;
}

.content {
  display: none;
  padding: 5rem;
  text-align: center;
  border-radius: 3rem;
  max-width: 1200px;
  
  
}

.content a {
  display: block;
  max-width: 300px;
  text-align: center;
  border: 0.1rem solid var(--blue-theme);
  color: var(--blue-theme);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 1.4rem;
  margin: 2rem auto;

}

.content h1 {
  font-weight: 800;

  line-height: 1em;
  text-transform: uppercase;

}

.content p {
  color: #222;


  margin-block: 4rem;
  text-indent: 1rem;
}

.content img {
  width: 60%;
  height: auto;
  margin-bottom: 3rem;


}

.content.active {
  display: block;
}



@media screen and (max-width: 1168px) {
  .content {
    padding-block: 3rem;
    padding-inline: 0;
    width: 80%;
  }

 
  .content img {
    max-width: 35rem;

  }

}

@media screen and (max-width: 550px) {
  .content{
    width: 100%;
    padding-inline: 0.9rem;
  
  }


  .content img {
    max-width: 15rem;
  }

  .content a {
    font-size: 1rem;
    padding: 1rem;
    margin-top: 2rem;
  }



  .navtabs{
    flex-direction: column;
  }
}



/* ###################AVALIACAO FORM############################### */
.avaliacao-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
}

.avaliacao-form h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #333;
}

.avaliacao-form form {
  display: flex;
  flex-direction: column;
}

.avaliacao-form input[type="text"],
.avaliacao-form input[type="number"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.avaliacao-form-flex {
  margin-bottom: 1.5rem;
}

.avaliacao-form-flex label {
  display: inline-block;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.avaliacao-form-flex input[type="checkbox"],
.avaliacao-form-flex input[type="radio"] {
  margin-left: 0;
}

.avaliacao-form-flex input[type="radio"] {
  margin-right: 0.5rem;
}

.avaliacao-form-flex input[type="checkbox"] {
  margin-bottom: 0.5rem;
}

.avaliacao-form input[type="submit"] {
  width: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  background-color: var(--blue-theme);
  color: #fff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.avaliacao-form input[type="submit"]:hover {
  background-color: #0056b3;
}


/* ############################## Container Video######################### */
.container-video{
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 3rem;

}



.container-video video{
  object-fit: cover;
  z-index: -1;

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #535353;
  mix-blend-mode: overlay;
  z-index: -1;
  
  
  }

.content-home{
  text-align: left;
  width: 100%;
  padding-left: 4rem;
  height: 30%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

}

.content-home h1{
  font-family: "poppins",serif;
  font-weight: 800;
  color: #fff;
  line-height: 1em;
  text-transform: uppercase;



}

.content-home p{
  font-size: 1.5rem;
  color: #fff;
}
.content-home a{
  display: inline-block;
  max-width: 200px;
  font-size: 23px;
  color: #fff;
  text-decoration: none;
  border: 2px solid #fff;
  padding: 15px 25px;
  border-radius: 0.8rem;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  text-align: center;
  
}

.content-home a:hover{
  background-color: #fff;
  color: #000;

}


.background-clip{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  
}


@media (min-aspect-ratio:16/9) {
  .background-clip{
      width: 100%;
      height: auto;
  }
}

@media (max-aspect-ratio:16/9) {
  .background-clip{
      width: auto;
      height: 100%;
  }
}

@media screen and (max-width:750px){
  .content-home{
    padding: 1rem;
    text-align: center;
  }
  

.content-home p{
    font-size: 1.1rem;
    
   
}


.content-home a{
  max-width:150px;
  font-size: 19px;
  margin: 0 auto;

}




}

/* ################ QUEM SOMOS? ####################### */



.quemsomos{
  width: 80%;
  padding: 6rem;
  margin: 0 auto;

 
}

.quemsomos h2{
  color: #222;
}

.quemsomos .index-title{
  margin-bottom: 5rem;
  margin-top: 5rem;
}




.carousel-indicators img{
  width: 70px;
  display: block;
}
.carousel-indicators button{
  width: max-content!important;
}
.carousel-indicators{
  position: unset;
}

.carousel-caption {
      position: absolute;
      top: 35%;
      left: 50%;
     
      transform: translate(-50%, -50%);
      text-align: center;
      
   
  }

@media screen and (max-width:800px) {
.quemsomos{
  padding: 0;
  width: 95%;
  margin-top: 8rem;
}

.quemsomos p{
text-wrap: wrap;
text-align: justify;
}

.carousel-indicators{
  display: none;
}


}

/* ################# Cards Trilha ###################### */

.cards-section {
  height: auto; 
  background: #222;
  padding: 1.5rem;
  

}

.cards-section a{
  text-decoration: none;
  color: #fff;
}

.cards-section h2{

  padding-top: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 5rem;
  color: #fff;

}



.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
 justify-content: center;

  padding: 50px 0;
}
.ag-courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(70% - 30px);

  margin: 2rem 0;

  overflow: hidden;

  border-radius: 28px;
  
}
.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #121212;

  overflow: hidden;

  position: relative;
}
.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 27px;
  color: #FFF;
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;


}
.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;

  z-index: 2;
  position: relative;
}
.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #e44002;

  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}
.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #f9b234;


}
.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #a522f1;
}
.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #3060ff;
}
.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #5a8cf8;
}
.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #3cd444;
}



@media only screen and (max-width: 979px) {
  .ag-courses_item {
    -ms-flex-preferred-size: calc(60% - 30px);
    flex-basis: calc(70% - 30px);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .ag-format-container {
    width: 96%;
  }

}
@media only screen and (max-width: 639px) {
  .ag-courses_item {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .ag-courses-item_title {
    min-height: 72px;
    line-height: 1;

    font-size: 24px;
  }
  .ag-courses-item_link {
    padding: 22px 40px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}


/* ########### FAQ CONTAINER ###################### */

.faq-container{
width: 100%;

padding-top: 2rem;

}
.faq-container h2{
  color: #222
}

.faq-container details {
position: relative;
margin-block: 2rem;
}

.faq-container details summary::-webkit-details-marker {
display: none;
}

.faq-container details summary::before {
content: "";
position: absolute;
left: 0;
background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=")
  no-repeat 50% 50% / 1em 1em;
width: 1.5em;
height: 1.5em;
transition: transform 0.1s linear;
}

.faq-container summary {
width: 100%;
padding: 20px;
padding-left: 25px;
border-bottom: 1px solid #ccc;
font-size: 1.5rem;
}

.faq-container summary:hover {
color: var(--blue-theme);
}

.faq-container summary:focus {
outline: none;
}

.faq-container details[open] summary:before {
transform: rotate(90deg);
}

.faq-container details[open] > summary {
color: #007bff;
}

.faq-container details[open] > summary ~ * {
animation: open 1s ease;
}

.faq-container p{
margin-top: 2rem;

background: rgb(255, 255, 132);
}

.faq-container p.source {
padding-top: 50px;

text-align: center;

}

@keyframes open {
0% {
  opacity: 0;
}

100% {
  opacity: 1;
}
}

@media screen and (max-width:600px){
.faq-container{
      padding: 0.5rem;
}

.faq-container p{
    padding: 0.5rem;
}



}


@media screen and (max-width:450px){

.cards-section{
  padding: 0.1rem;
}



.quemsomos {
  padding: 10px;
}



.faq-container summary{
font-size: 1rem;
padding: 0;
width: 100%;
}

.faq-container details p{
font-size:1rem;
}

.faq-container .row{
width: 100%;
padding: 0;
text-align: justify;
margin: 0 auto;

}



.ag-courses-item_title{
  font-size: 0.8rem;
  padding: 0;
  width: 100%;
}

.ag-courses-item_link{
  padding: 10px;
}
}

@media screen and (max-width:250px){

  .cards-section{
    padding: 0.1rem;
  }
  


  .cards-section h2{
    font-size: 1.2rem;
  }

  .faq-container details p{
    font-size:0.5rem;
    line-height: 1.4rem;
    }
}

@media screen and (min-width:1200px){
  .container-video h1{
    font-size: 7rem!important;
   
  }
}

/* flipcards */

.flip-card {
  width: 500px;
  height: 350px;

  perspective: 1000px; /* Profundidade do efeito de perspectiva */
  padding: 20px; /* Adicionando padding de 20px ao redor do flip card */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Alinha o conteúdo verticalmente */

}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--flashcard-color);
  backface-visibility: hidden;
  padding: 20px; /* Adicionando padding de 20px ao conteúdo do flip card */
  border-radius: 20px;
}

.flip-card-back p{
  margin: 2rem;
  font-size: 1.1rem;
}

.flip-card-front {
  background-color: var(--blue-theme);
  color: white;
}

.flip-card-back {
  background-color: var(--blue-theme);
  color: white;
  transform: rotateY(180deg);
}

/* Botão para virar o card */
.flip-button {
  top:10px;
  right: 10px;
  width: 100px;
  position: absolute;
  padding: 5px; /* Espaçamento interno do botão */
  background-color: white;
  color: var(--blue-theme);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;

}

/* Media query para resoluções menores que 500px */
@media (max-width: 500px) {
  .flip-card {
    width: 100%; /* Ocupa toda a largura disponível */
    padding: 5px;
  }

  .flip-card-back{

    padding: 15px 2px 2px 2px;
  }
  .flip-card-back p{
    font-size: 1.2rem;
    line-height: 20px;
    text-align: justify;

  }

  .flip-card-front, .flip-card-back{
    border-radius: 0;
  }
  .flip-button {
    position: absolute;

    width: 90%;

    height: 2rem;
    border-radius: 0.5rem;
  }

  .div-flipcards{
    justify-content: center;
  }
}

.div-flipcards{
  display: flex;
  justify-content: space-evenly;
  gap: 5rem;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;

}

@media (max-width: 500px) {
  .flip-card-back p{
    font-size: 0.8rem;

  }
}


/* dicionario scrum */

.term {
  color: blue;
  cursor: pointer;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.dict-content li{
  border: 0.1rem solid black;
  padding: 1rem;
}
.dict-content li a{
  color: black;
  
}

.dict-heading{
  background-color: black;
  color: white;
  text-align: center;
}