body{
    padding: 0;
    margin: 0;
    border: 0;
}

.principal{
    background-color: #ffffffe7;
    margin: auto;
    margin-top: calc(var( --header-height)+2rem);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.692);
    
    /* responsividade */
    max-width: 60%;
    min-width: 320px;
}

p{
    font-family: "Arvo", serif;
    font-size: 1.5rem;
    text-align: justify;
    margin-bottom: 2rem;
    line-height: 3rem;
}

h1{
    color: var( --green-theme);
    font-family: "Arvo", serif;
    font-size: 250%;
    margin: 3rem 0 1rem 0;
}

h2{
    color: var( --green-theme);
    font-family: "Arvo", serif;
    font-size: 200%;
    margin: 2.5rem 0 1rem;
}

.principal img{
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.img{
    text-align: center;
}

.a{
    color: black;
    font-family: "Arvo", serif;
    font-size: 1.5rem;
    text-align: justify;
}

.li{
    font-family: "Arvo", serif;
    font-size: 1.5rem;
    margin-top: 4rem;
}

.principal-content{
    padding: 2rem;
    margin: auto;
}

.div_conteudo{
    width: 50%;
}