.principal{
    margin: 5% 15% 5% 15%;
}

p{
    font-family: "Arvo", serif;
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 2%;
}

h1{
    font-family: "Arvo", serif;
    font-size: 2.5rem;
    margin-top: 5%;
    margin-bottom: 2%;
}

h2{
    font-family: "Arvo", serif;
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: 2%;
}

.principal img{
    width: 70%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.img{
    text-align: center;
}