.app-container{
    font-family: "Poppins", serif;
    background-color: #fff;

    height: auto;
    max-width: 1024px;
    margin: 10rem auto;
    border-radius: 10px;
    padding: 3rem;
}

.app-container h1{
    font-weight: bolder;
    border-bottom: 0.1rem solid var(--blue-theme);
    padding-bottom: 1rem;
    text-align: center;

}

.quiz{
    padding: 1rem 0;
}

.quiz h2{

    color: #222;
    font-weight: 700;
    text-align: justify;
}

.btn{
    background: var(--white-color);
    color: #222;
    width: 100%;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover:not([disabled]){
    background:#222;
    color: var(--white-color);

}

.btn:disabled{
    cursor: no-drop;

}

#next-btn{
    background: var(--blue-theme);
    color: var(--white-color);
    font-weight: 500;
    border: 0;
    padding: 0.8rem;
    margin: 0.1rem auto 0;
    border-radius: 0.3rem;
    cursor: pointer;
    display: none;
}


.btn.selected {
    background-color: #222; /* Cor de fundo para destacar a alternativa selecionada */
    color: #fff /* Cor do texto para a alternativa selecionada */
}

/* MODIFICACOES NO QUESTIONARIOS.HTML */
.questionarios-design{
    margin-top: 1rem;
    height: 6rem;
    background-color: var(--blue-theme);
    border:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionarios-design h1{
    font-weight: bolder;
    font-family: "Poppins", serif;
    color: #fff;
    text-shadow: #222;
    
}
.container-questionarios{
    width:100%;

 
}

.container-links-questionarios{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    padding-top: 5rem;
}

 


.container-links-questionarios a:not(:last-child){
    margin-bottom: 6rem;
    
}
.container-links-questionarios a{
    color: #222;
    font-size: 1.2rem;
    font-family: "Poppins", serif;
    text-align: center;
    width: 60%;
    margin: 0 auto;
    border: 0.1rem solid black;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-links-questionarios a:hover{
    transform: scale(1.05);
    border: 0;
    background: #222;
    color: #fff;
}


@media screen and (max-width:400px){
    .app-container{
        border:0;
        padding: 10px;
        margin-top:2rem;
    }
    .quiz, .answer-buttons{
       
        margin: 0;
    }
    .container-links-questionarios a{
        width: 90%;
    }
}




