body{
    background-color: hsl(220, 100%, 97%);
    margin: 0; /* Certifique-se de que não há margem padrão */
    padding: 0;
    box-sizing: border-box;
}

.app-container{
    font-family: "Poppins", serif;
    background-color: #fff;
    border: 0.1rem solid black;
    height: auto;
    max-width: 1024px;
    margin: 10rem auto;
    border-radius: 10px;
    padding: 3rem;
}

.app-container h1{
    font-weight: bolder;
    color: #222;
    font-size: 2rem;
    border-bottom: 0.1rem solid #333;
    padding-bottom: 1rem;
}

.quiz{
    padding: 1rem 0;
}

.quiz h2{
    font-size: 1.5rem;
    color: #222;
    font-weight: 700;
    text-align: justify;
}

.btn{
    background: var(--white-color);
    color: #222;
    width: 100%;
    border: 0.1rem solid black;
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    border-radius: 0.5rem;
    cursor: pointer;
}

.btn:hover:not([disabled]){
    background:#222;
    color: var(--white-color);

}

.btn:disabled{
    cursor: no-drop;

}

#next-btn{
    background: #222;
    color: var(--white-color);
    font-weight: 500;
    border: 0;
    padding: 0.8rem;
    margin: 0.1rem auto 0;
    border-radius: 0.3rem;
    cursor: pointer;
    display: none;
}


.btn.selected {
    background-color: #222; /* Cor de fundo para destacar a alternativa selecionada */
    color: #fff /* Cor do texto para a alternativa selecionada */
}

/* MODIFICACOES NO QUESTIONARIOS.HTML */
.questionarios-design{
    margin-top: calc(var(--header-height) + 2rem);
    height: calc(var(--header-height)*2);
    background-color: #222;
    border:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questionarios-design h1{
    font-size: 3rem;
    font-weight: bolder;
    font-family: "Poppins", serif;
    color: #fff;
    text-shadow: #222;
    
}
.container-questionarios{
    width:100%;
    height:100vh
 
}

.container-links-questionarios{
    display: flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    padding-top: 5rem;
}

 


.container-links-questionarios a:not(:last-child){
    margin-bottom: 6rem;
    
}
.container-links-questionarios a{
    color: #222;
    font-size: 1.2rem;
    font-family: "Poppins", serif;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    border: 0.1rem solid black;
    padding: 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container-links-questionarios a:hover{
    transform: scale(1.05);
    border: 0;
    background: #222;
    color: #fff;
}
/* .questionarios-list{
    ...
} */






@media screen and (max-width:1024px) {
.app-container{
    max-width: 1024px;
    margin-inline: 0;
    border-radius: 10px;
    border: 0.1rem solid black;

}

    
}