{% extends 'main/base.html' %}

{%block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/estimativa.css') }}">{%endblock css%}
    
{% block title %}Estimativas{% endblock title %}

{%block conteudo%}
{% include 'include_files/navbar-dropdown.html' %} 

    <div class="contt">
        <h2 class="title">Estimativas</h2>
    </div>

    <section class="contp">

        <div class="sub1">
            <h3 class="subtitle1">O que é estimativa?</h3>
            <p class="paragrafo">Em metodologia Scrum, a estimativa é o processo de avaliar o esforço necessário para concluir uma determinada tarefa, funcionalidade ou conjunto de trabalho dentro de um projeto. Essas estimativas são cruciais para o planejamento e a gestão eficazes de um projeto Scrum.</p>
        </div>
        
        <div class="resume-section">
            <div class="resume-title">
                <h2>Existem diversos tipos de estimativas utilizadas no Scrum:</h2>
            </div>
            <div class="resume-card">
                <h3>Planning Poker</h3>
                <p>O Planning Poker é uma técnica popular para estimar o esforço necessário para concluir uma história. Cada membro da equipe recebe um baralho de cartas com valores de pontos de história ou horas. O Product Owner apresenta uma história e a equipe discute brevemente os detalhes. Em seguida, cada membro da equipe escolhe uma carta que representa sua estimativa para o esforço necessário. As estimativas são reveladas ao mesmo tempo e discutidas em caso de divergências significativas.</p>
            </div>
            <div class="resume-card">
                <h3>Estimativa de Pontos de História (Story Points)</h3>
                <p>Nesse método, as histórias de usuário são estimadas com base em uma escala relativa de complexidade ou esforço. Em vez de estimar em horas, o Time de Desenvolvimento atribui pontos às histórias com base em sua complexidade percebida, em relação a outras histórias. Essa abordagem ajuda a evitar o viés associado às estimativas de tempo e facilita a comparação de esforços entre histórias diferentes.</p>
            </div>
            <div class="resume-card">
                <h3>Estimativa em Horas (Hour-Based Estimation)</h3>
                <p>Além ou em conjunto com os pontos de história, algumas equipes de Scrum podem optar por estimar as histórias em horas. Isso envolve a atribuição de uma quantidade de horas esperada para concluir cada história ou tarefa. Embora mais precisas em termos de tempo, essas estimativas podem ser mais difíceis de fazer e podem levar a discussões sobre detalhes específicos da implementação.</p>
            </div>
            
            <div class="resume-card">
                <h3>Estimativa de Tamanho de Sprint (Sprint Sizing):</h3>
                <p>Além de estimar o esforço necessário para histórias individuais, as equipes de Scrum também estimam o tamanho do sprint. Isso envolve a seleção de uma quantidade de trabalho que a equipe acredita poder realizar durante o sprint. Essa estimativa é fundamental para a capacidade de prever a velocidade da equipe e determinar quantas histórias podem ser incluídas em cada sprint.</p>
            </div>
         
          
          
           
        </div>
        <div class="sub2">
            <div class="sub2txt">
                <h3 class="subtitle2">O que é Planning Poker e como funciona?</h3>
                <p class="paragrafo">O Planning Poker se baseia em um jogo de cartas bastante simples. <br>
                Cada participante recebe um baralho de cartas contendo valores numéricos. 
                <br>Cada número representa o nível de esforço que o participante acha necessário para <br>
                desenvolver o projeto em discussão no jogo.</p>

                <p class="paragrafo">Na regra clássica do Planning Poker, o baralho entregue a cada participante contém 10 cartas, <br>
                    que seguem a seguinte sequência numérica: 0, 1, 2, 3, 5, 8, 13, 20, 40 e 100. <br>
                    Quanto maior for o número da carta escolhida pelo participante, <br>maior é o nível de complexidade
                    estimado para realizar o projeto em discussão.
                </p>
            </div>
            <img src="../static/imagens/planning-poker-1-e1608806334625.png" height="40%" width="40%" class="sub2img">
        </div>
        <div class="sub3">
            <img src="../static/imagens/trokaideias.png" height="40%" width="40%" #fbf3e3 class="imgsub3">
                <div class="sub3cont">
                    <h3 class="subtitle3">O jogo consiste nas seguintes etapas:</h3>
                    <ol class="lista">
                        <li>Um moderador descreve uma tarefa e os jogadores escolhem a carta <br>que melhor representa sua opnião 
                          sobre a dificuldade e tempo que se pode realizar a tarefa.
                        </li> <br>
                        <li>Em seguida, o grupo discute sobre o projeto abertamente. <br>Cada participante deve descrever como imagina lidar com o trabalho,
                            quantas pessoas estima que estariam <br> envolvidas,
                        quais conjuntos de habilidades serão necessários e quais obstáculos ele vê retardando o progresso.  </li> <br>
                        <li>Após a discussão é realizada outra votação com as cartas. <br>Caso a maioria dos jogadores tenham entrado em 
                            consenso sobre o nível de dificuldade do projeto, <br>a estimativa é considerada finalizada,
                            e ou tras tarefas podem ser colocadas em pauta. <br>
                            Porém, se persistirem divergências significativas, novas discussões podem ser realizadas.
                        </li>
                    </ol>
                </div>
        </div>


        <div class="sub5">
            <div class="sub5cont">
                <h3 class="subtitle5">Vantagens do Planning Poker</h3>
                <p class="paragrafo">A principal vantagem do Scrum Poker é auxiliar seu time a não ficar trabalhando <br>
                    em estimativas durante
                    muito tempo. Esta técnica fornece resultados em <br> um tempo bem curto e com um bom nível de precisão. <br><br>
                    Além disso, um dos principais benefícios é gerar a discussão sobre as User Stories, <br>ganhando assim maior
                    entendimento sobre o projeto. Isto deverá acelerar o <br>desenvolvimento uma vez que todos na sua equipe
                    sabem cada vez mais o que <br> estão fazendo e onde devem chegar.</p>
            </div>
            <img src="../static/imagens/VantagensPlanningPoker.png" height="40%" width="40%" class="imgsub5">
        </div>

        <div class="sub1">

            <h3>Sequência de Fibonacci</h3>
            <p>A sequência de Fibonacci contém números que aumentam exponencialmente. <br>
               É justamente por isso que os times de metodologia ágil passaram a usar <br>
               a escala de Fibonacci para os negócios. <br>
               No geral, a escala de Fibonacci no Scrum é um método poderoso para garantir <br>
               que o trabalho seja distribuído a todos por igual, além de poder ajudar a garantir que <br>
    </div>
    </section>










    {% include 'include_files/footer.html' %}

{%endblock conteudo%}