{% extends 'main/base.html' %}

{%block css%}<link rel="stylesheet" href="../static/css/vanessa.css">{%endblock css%}
    
{% block title %}Introdução{% endblock title %}

{%block conteudo%}
{% include 'include_files/navbar-dropdown.html' %} 
<div class="introducao_conteudo">
    <h1>Introdução</h1>
    <p>O Scrum é uma metodologia ágil amplamente utilizada na gestão de projetos tech. Os fundamentos do Scrum desempenham um papel fundamental nesse processo, 
        pois fornecem as bases necessárias para o sucesso na execução de projetos tecnológicos. Esses fundamentos são compostos por um conjunto de princípios, 
        papéis, artefatos e eventos, que juntos promovem uma abordagem colaborativa, flexível e iterativa para o desenvolvimento de software.</p>


    <img src="/static/imagens/scrum.png " alt="Scrum">


    <h2>Flexibilidade e adaptabilidade</h1>
    <p>
    Um dos aspectos mais importantes dos fundamentos do Scrum é a sua capacidade de permitir uma maior adaptabilidade e flexibilidade durante o desenvolvimento 
    do projeto. Ao invés de seguir um plano rígido e pré-estabelecido, o Scrum permite que as equipes se ajustem e respondam às mudanças que podem ocorrer ao 
    longo do processo. Isso é particularmente relevante no contexto dos projetos tech, onde as tecnologias e requisitos podem evoluir rapidamente.
    </p>


    <h2>Colaboração e comunicação</h1>
    <p>Além disso, os fundamentos do Scrum incentivam a colaboração e a comunicação constante entre os membros da equipe. Através de reuniões diárias curtas e 
        objetivas, conhecidas como Daily Standups, todos os membros da equipe têm a oportunidade de compartilhar o progresso, identificar impedimentos e alinhar 
        as atividades para o dia seguinte. Isso promove um ambiente de trabalho colaborativo, onde todos têm clareza sobre as metas e prioridades do projeto.
    </p>


    <h2>Entrega de valor contínuo</h2>
    <p>Outro aspecto importante dos fundamentos do Scrum é a ênfase na entrega de valor contínuo ao cliente. Ao dividir o projeto em iterações curtas, conhecidas 
        como Sprints, a equipe pode entregar funcionalidades e incrementos de software em um ritmo constante. Isso permite que o cliente tenha uma visão clara do 
        progresso do projeto e possa fornecer feedback ao longo do processo, garantindo que o produto final atenda às suas necessidades e expectativas.
    </p>


    <h2>Transparência e visibilidade</h2>
    <p>Os fundamentos do Scrum também promovem a transparência e a visibilidade do trabalho em andamento. Através de artefatos como o Product Backlog e o Sprint Backlog, 
        a equipe e os stakeholders têm uma visão clara das tarefas a serem realizadas, das prioridades e do progresso do projeto. Isso facilita a tomada de decisões e 
        promove um ambiente de trabalho mais eficiente e colaborativo.
    </p>
</div>


<!-- https://awari.com.br/fundamentos-do-scrum-a-base-para-o-sucesso-na-gestao-de-projetos-tech/?utm_source=blog&utm_campaign=projeto+blog&utm_medium=Fundamentos%20Do%20Scrum:%20A%20Base%20Para%20O%20Sucesso%20Na%20Gestão%20De%20Projetos%20Tech -->
{% include 'include_files/footer.html' %}
{%endblock conteudo%}