{% extends 'main/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/kanban.css') }}">
{% endblock css %}

{% block title %}Kanban{% endblock title %}

{% block conteudo %}
{% include 'include_files/navbar-dropdown.html' %} 

<div class='no-padding'> 
    <section class='kanban-principal'>
        <h1>Kanban</h1>
        <p>Metodologia de Gestão de Projetos</p>
        
        <div class='subtitulos'>
            <div class="subtitulos-div">
                <a href='#conceitos'>
                    <h2 class=''>Conceitos</h2>
                </a>
                <ul>
                    <li>- Visualização do trabalho;</li>
                    <li>- Limitação do trabalho;</li>
                    <li>- Gestão de Fluxo;</li>
                    <li>- Melhoria continua.</li>
                </ul>
            </div>

            <div class="subtitulos-div">
                <a href='#Aplicação'>
                    <h2>Aplicação</h2>
                </a>

                <ul>
                    <li>- Projeto do Quadro;</li>
                    <li>- Gestão do Fluxo;</li>
                    <li>- Análise e Melhoria.</li>
                </ul>
            </div>

            <div class="subtitulos-div">
                <a href='#vantagens'>
                    <h2>Vantagens</h2>
                </a>

                <ul>
                    <li>- Visualização Clara do Trabalho;</li>
                    <li>- Flexibilidade;</li>
                    <li>- Gestão de Fluxo Eficiente.</li>
                </ul>
            </div>
        </div>
    </section>

    <section class='conceitos'id='conceitos'>

        <h1>Conceitos</h1>

        <div>    
            <div class="content-flex">             
                <h3>Visualização do Trabalho:</h3>
                <p>
                    O Kanban utiliza um quadro visual (geralmente dividido em colunas) para representar o fluxo de trabalho. Cada item de trabalho é representado por um cartão ou post-it, e o movimento desses itens pelas colunas do quadro reflete o progresso do trabalho.
                </p>
        
                <h3>Limitação do Trabalho em Progresso (WIP):</h3>
                <p>
                    O Kanban enfatiza a importância de limitar o trabalho em progresso em cada etapa do processo. Isso ajuda a evitar gargalos e sobrecarga, mantendo um fluxo de trabalho mais suave.
                </p>
        
                <h3>Gestão do Fluxo:</h3>
                <p>
                    O objetivo do Kanban é maximizar a eficiência do fluxo de trabalho, garantindo que o trabalho flua de forma contínua e rápida pelas etapas do processo.
                </p>
            
                <h3>Feedback contínuo e melhoria:</h3>
                <p>
                    O Kanban encoraja a busca contínua por melhorias no processo. Isso é feito através da análise do desempenho do quadro Kanban e da identificação de oportunidades para otimizar o fluxo de trabalho.<br><br>
                </p>
            </div>

            
             <img src="/static/imagens/kanban1.png" class='img' alt="QuadroKanban">
            
        </div>
    </section>

    <section class='aplicação' id='Aplicação'>
        <h1>Aplicação</h1>
        <div>
                <h3>Projeto do Quadro Kanban</h3>
                <p>
                    Desenhar e configurar o quadro Kanban é fundamental para refletir as etapas do processo de trabalho da equipe. Isso envolve planejar cada coluna do quadro com cuidado para acompanhar o progresso das tarefas e permitir ajustes conforme necessário ao longo do tempo.
                </p>
        
                <h3 >Gestão do Fluxo de Trabalho</h3>
                <p>
                    Movimentar os cartões pelo quadro e garantir um fluxo de trabalho contínuo são aspectos essenciais do Kanban. A equipe deve monitorar o progresso das tarefas e resolver bloqueios prontamente para garantir uma entrega eficiente e no prazo.
                </p>
        
                <h3>Análise e Melhoria Contínua</h3>
                <p>
                    Rever regularmente o desempenho do quadro Kanban, identificar áreas de oportunidade para melhorias e implementar ajustes são práticas cruciais para garantir a eficácia contínua do método Kanban. Isso permite que a equipe otimize o fluxo de trabalho e aumente a eficiência ao longo do tempo.
               </p>
            </div>
        </div>
    </section>

    <section class='vantagens' id='vantagens'>

        <h1>Kanban vs Scrum</h1>
          
            <div class='display-flex'>
                <div class='card-flex'>
                    <h3>Kanban</h3>
                    <p>
                        Uma abordagem mais flexível, focada na melhoria contínua do fluxo de trabalho. Não tem iterações fixas e não possui papéis ou cerimônias prescritas. Além disso, o Kanban enfatiza a visualização do trabalho, limitação do trabalho em progresso e gestão do fluxo.
                    </p>
                    <div><img src='/static/imagens/kanbanquadro.png' alt='QuadroKanban' class='quadro-kanban'></div>
                </div>

                <div class='card-flex'>
                    <h3>Scrum</h3>
                    <p>
                        Estrutura mais prescritiva, com papéis definidos (Product Owner, Scrum Master, Team) e cerimônias como Sprint Planning, Daily Standups, Sprint Review e Sprint Retrospective. O Scrum é conhecido por suas iterações de tempo fixo chamadas de sprints e enfatiza a colaboração e a comunicação entre os membros da equipe.
                    </p>
                    <div><img src='/static/imagens/quadro-scrum.png' alt='QuadroScrum' class='quadro-kanban'></div>
                </div>
            </div>


    </section>
</div>


</div>

{% include 'include_files/pagination.html' %}
{% include 'include_files/footer.html' %}



{% endblock conteudo %}