{% extends 'main/base.html' %}


{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
{%endblock css%}


{%block conteudo%}

    <div class="container-login">
        
        <div class="login-form">

        <h1>Alterar senha</h1>
        <form method="POST" action="/">
            {{ form.hidden_tag() }}
            <div>
                {{ form.current_password.label }}<br>
                {{ form.current_password(class="input-login") }}
            </div>
            <div>
                {{ form.new_password.label }}<br>
                {{ form.new_password(class="input-login") }}
            </div>
            <div>
                {{ form.confirm_new_password.label }}<br>
                {{ form.confirm_new_password(class="input-login") }}
            </div>
            <div>
                {{ form.submit(class="input-button") }}
            </div>
        </form>
        <a href="/">Voltar para a pagina inicial</a>
    </div>
</div>
{%endblock conteudo%}