{% extends 'main/base.html' %}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
{%endblock css%}
    
{% block title %}Feedback{% endblock title %}

{%block conteudo%}

    

    <div class="container-login">
        
        <div class="login-form">
            <h1>Login</h1>

            <form method="POST" action="">
                {{form.hidden_tag()}}
                {{form.username(class="input-login")}}
                {{form.password(class="input-login")}}
                {{form.submit(class="input-button")}}
            
            </form>

            <a href="/">Voltar para a pagina inicial</a>
        </div>

    </div>



    
   

    {%endblock conteudo%}
