{% extends 'main/base.html' %}

{%block css%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> 
{%endblock css%}


{%block conteudo%}
    <!-- <h2>Registre um novo usuário</h2>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        {{form.submit}}
        
     </form> -->


     <div class="container-login">
        
        <div class="login-form">
            <h1>Novo Usuário</h1>

            <form method="POST" action="">
                {{form.hidden_tag()}}
                {{form.username(class="input-login")}}
                {{form.password(class="input-login")}}
                {{form.submit(class="input-button")}}
            
            </form>

            <a href="/">Voltar para a pagina inicial</a>
        </div>
    </div>

{%endblock conteudo%}