{% extends 'main/base.html' %}

{%block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/eventos.css') }}">{%endblock css%}
    
{% block title %}Eventos de Scrum{% endblock title %}



{%block conteudo%}
{% include 'include_files/navbar-dropdown.html' %} 
<div class="container-eventos">


    <div class="section-content" >
        <h2 id="introducao">Introdução</h2>
        <p >As metodologias de gestão de projetos têm evoluído cada vez mais para acompanhar as necessidades de gerenciamento de cada tipo de projeto. Os projetos de TI, por exemplo, que são constantemente mutáveis e envolvem muitos interessados, adotaram as metodologias e frameworks ágeis para acompanhar as etapas de execução de perto e manter todos os envolvidos na mesma página. Dentro desse contexto, o framework Scrum é o mais famoso, e seu ponto chave é a segmentação do trabalho em Sprints.</p>
        <p>Neste texto, vamos aprender o que é uma Sprint, quem faz parte dela e como ela se organiza dentro de um projeto ágil.</p>
        <p>Pronto para começar? Boa leitura!</p>
    </div>

    <div class="section-content" >
        <h2 id="sprint" >O que é uma sprint?</h2>
        <p >Sprint, no framework Scrum, é um período de tempo limitado a um mês ou menos, no qual uma versão incremental e usável de um produto é desenvolvida.</p>
        <p>Esse conceito vem do termo Sprint, em inglês, que se refere a um tipo de corrida de velocidade em que o atleta percorre uma distância curta num período de tempo mais curto ainda. Sendo assim, a ideia da Sprint no Scrum é que deve-se cumprir uma meta dentro de um período determinado, e que ao final o produto seja “Pronto”.</p>
        <p>A duração da Sprint é time-boxed, isto é, limitada a um tempo, e pode variar de uma a quatro semanas, dependendo da produtividade do time para entregar uma funcionalidade completa (no caso dos projetos de TI) ou uma parte funcional do produto (em projetos de outras áreas). Porém, uma vez decidida a duração da Sprint, ela deve ser mantida até o final do projeto.</p>
        <p>Assim, conforme a definição de o que é um projeto, a Sprint pode até ser considerada um projeto, já que tem delimitação de tempo, um plano de execução e um padrão de resultado esperado.</p>
        <p>Curioso para saber como a Sprint é realizada na prática? Veja a seguir!</p>
        <div class="img">
            <img src="/static/imagens/sprint-definicao.png" alt="">
        </div>
    </div>


    <div class="section-content">
    <h2 id="sprint-planning">Sprint Planning (Reunião de Planejamento da Sprint)</h2>
    <p>A Reunião de Planejamento da Sprint (Sprint Planning) é um evento que acontece antes de cada Sprint, tendo como objetivo definir</p>
    <ul>
        <li><b>O que poderá ser entregue</b> na próxima Sprint; e</li>
        <li><b>Como será realizado o trabalho</b> para produzir a entrega.</li>
    </ul>
    <p>Todos os integrantes do Time Scrum participam desta reunião, sendo que o time-box máximo é de 8 horas de duração. Em Sprints menores, a duração tende a ser proporcionalmente menor.</p>
    <p>O Product Owner começa a reunião apresentando os itens do Backlog do Produto que precisam ser entregues na próxima Sprint, e o Time de Desenvolvimento avalia o que será possível entregar no período.</p>
    <p>Estabelece-se a meta da Sprint, que corresponde ao(s) item(s) do Backlog do Produto, e o Time de Desenvolvimento então decide como irá construir as funcionalidades necessárias.</p>
    <p>Para isso, o Time começa a desenhar o sistema e separar o trabalho em unidades de um dia de duração ou menos, podendo inclusive convidar outras pessoas para participar da Reunião e contribuir com opinião técnica.</p>
    <p>Como resultado, é produzido o <strong><a href="{{ url_for('sprint_backlog')}}">Backlog da Sprint (ou Sprint Backlog)</a></strong>, que é a junção dos itens selecionados do Backlog do Produto e seus respectivos planos de entrega.</p>

    </div>

    <div class="section-content">
    <h2 id="daily-scrum">Daily Scrum (Reunião Diária)</h2>
    <p>Ao longo da execução da Sprint, o Time de Desenvolvimento se reúne diariamente para avaliar como está o <b>andamento das atividades</b> e definir o que será feito no dia para alcançar a meta da Sprint. São as chamadas Reuniões Diárias (ou Daily Sprints).</p>
    <p>O time-box dessas reuniões é de 15 minutos, e elas são comumente realizadas no mesmo local e no mesmo horário. Recomenda-se que o time de Desenvolvimento faça a Reunião Diária em pé, para não correr o risco de ultrapassar o limite de tempo.</p>
    <p>É bom lembrar, também, que o Product Owner e o Scrum Master não participam dessas reuniões, já que o Time de Desenvolvimento é auto organizado e tem autonomia para decidir sozinho como o trabalho será realizado.</p>
    <p>Há três perguntas que devem ser respondidas na Reunião Diária:</p>
    <ul>
        <li><b>O que eu fiz ontem</b> que ajudou o time de Desenvolvimento a alcançar a meta da Sprint?</li>
        <li><b>O que eu farei hoje</b> para ajudar o time de Desenvolvimento a alcançar a meta da Sprint?</li>
        <li><b>Existe algum obstáculo</b> que impeça o Time de Desenvolvimento de alcançar a meta da Sprint?</li>
    </ul>

 
    </div>

    <div class="section-content">
        <h2 id="sprint-review">Sprint Review (revisão da Sprint)</h2>
        <p>Quando a Sprint chega ao final, é necessário realizar a Revisão da Sprint (ou Sprint Review) para inspecionar o resultado e adaptar o Backlog do Produto, se for o caso. Todo o Time Scrum participa do Evento, que tem time-box máximo de 4 horas.</p>
        <p>Os principais pontos de discussão da Revisão envolvem o esclarecimento sobre os itens que foram “Prontos” e os que não foram, a reflexão sobre o que foi bem e os problemas que foram encontrados, e as sugestões do Time Scrum para o que deve ser feito a seguir, levando em consideração as mudanças do mercado, a linha do tempo, o orçamento e as prioridades.</p>
        <p>Como resultado dessa reunião é produzida uma nova versão do Backlog do Produto, que poderá ser utilizada na próxima Sprint.</p>
        
    </div>

    <div class="section-content">
    <h2 id="sprint-retrospective">Sprint Retrospective (retrospectiva da Sprint)</h2>
    <p>A Sprint Retrospective é realizada após a Sprint Review e antes da próxima reunião de planejamento de Sprint. O propósito dessa reunião é refletir sobre o último sprint e identificar:</p>

    <ul>
        <li>O que funcionou bem;</li>
        <li>O que deu errado;</li>
        <li>Quais ações podem ser tomadas para melhorar o próximo sprint.</li>
    </ul>

    <img src="/static/imagens/scrum-processo.jpg" alt="">
    </div>

    <div class="section-content">
        <h2 id="burndown-chart">Burndown Chart e seu papel dentro das sprints</h2>
        
        <h3>Introdução ao Burndown Chart no Scrum</h3>
        <p>No contexto do Scrum, uma metodologia ágil amplamente adotada para o desenvolvimento de software, o Burndown Chart emerge como uma ferramenta essencial para acompanhar e visualizar o progresso do trabalho ao longo de uma Sprint. Uma Sprint é um período de tempo definido durante o qual uma equipe de desenvolvimento trabalha para entregar um incremento de produto potencialmente entregável.</p>
        <p>O Burndown Chart é uma representação gráfica simples, porém poderosa, que ilustra a quantidade de trabalho restante ao longo do tempo durante uma Sprint. Ele mostra a evolução do trabalho pendente, comparando a quantidade de trabalho planejada com o tempo disponível.</p>
        <p>Essa ferramenta é crucial para ajudar as equipes do Scrum a monitorar seu progresso diariamente, identificar tendências, prever a conclusão do trabalho e, se necessário, tomar medidas corretivas para atingir as metas da Sprint.</p>
        <div class="img">
            <img src="/static/imagens/burndown-example.jpg" alt="">
        </div>
       <h3>Sprint Planning</h3>
       <p>Nesta fase, a equipe do Scrum se reúne para planejar o trabalho que será realizado durante a Sprint. O Burndown Chart pode ser utilizado durante o Sprint Planning para ajudar a estimar a capacidade da equipe e definir as metas da Sprint com base na velocidade histórica da equipe. Isso permite que a equipe tenha uma compreensão clara do trabalho esperado e estabeleça expectativas realistas para o período da Sprint. Durante essa reunião, o Burndown Chart pode ser uma ferramenta valiosa para visualizar o escopo do trabalho e determinar se as metas são alcançáveis dentro do período da Sprint.</p>

       <h3>Daily Scrum</h3>
       <p>Durante a Daily Scrum, o Burndown Chart pode desempenhar um papel importante ao fornecer uma visão rápida do progresso da equipe em relação às metas da Sprint. Durante essa reunião diária de sincronização, a equipe pode atualizar o Burndown Chart com o trabalho realizado até o momento, o que permite identificar rapidamente se estão no caminho certo para concluir as tarefas planejadas dentro do prazo da Sprint. Isso ajuda a equipe a identificar qualquer desvio do plano inicial e a tomar medidas corretivas conforme necessário para garantir que possam atingir seus objetivos.</p>
       <h3>Sprint Review</h3>
       <p>Durante a Sprint Review, o Burndown Chart pode ser usado para fornecer uma perspectiva visual do progresso da equipe ao longo da Sprint. Ele pode ajudar a destacar o trabalho realizado e o que ainda precisa ser feito, proporcionando uma visão geral clara para os stakeholders sobre o andamento do projeto. Além disso, o Burndown Chart pode ser uma ferramenta útil para facilitar discussões durante a revisão, permitindo que a equipe e os stakeholders identifiquem áreas de sucesso e oportunidades de melhoria para futuras Sprints.</p>
       <h3>Sprint Retrospective</h3>
       <p>Durante a Sprint Retrospective, o Burndown Chart pode ser utilizado como uma ferramenta valiosa para ajudar a equipe a refletir sobre seu desempenho ao longo da Sprint. Ao analisar o gráfico, a equipe pode identificar padrões, tendências e áreas de melhoria. Por exemplo, se o Burndown Chart mostrar uma linha reta ou uma tendência ascendente, pode indicar que a equipe teve dificuldades para concluir as tarefas conforme o planejado. Isso pode levar a discussões construtivas sobre os desafios enfrentados e possíveis soluções para melhorar o processo de desenvolvimento na próxima Sprint.</p>

    </div>
    <div class="download-div">

        <h1>Baixar exemplo de Burndown Chart</h1>
        <p>Clique no botao abaixo, para visualizar em seu proprio dispositivo, um modelo real de burndown chart</p>
         <a href="{{ url_for('static', filename='files/Burndown-Horus.xlsx') }}" download onclick="confirmarAcao()">
        <button class="btn btn-outline-primary btn-lg">Download Burndown Chart</button>
        </a>

    </div>

</div>


{% include 'include_files/pagination.html' %}
{% include 'include_files/footer.html' %}

{%endblock conteudo%}