{% extends 'main/base.html' %}

{%block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/questionario.css') }}">{%endblock css%}


{%block conteudo%}
<div class="questionarios-design">
    <h1>Questionários</h1>
</div>

<div class="container-questionarios">
    <div class="container-links-questionarios">     
        <a href="{{url_for('questionario_modulo1')}}">Módulo 01: Introdução</a>
        <a href="{{url_for('questionario_modulo2')}}">Módulo 02: Responsabilidades</a>
        <a href="{{url_for('questionario_modulo3')}}">Módulo 03: Eventos de scrum</a>
        <a href="{{url_for('questionario_modulo4')}}">Módulo 04: Artefatos de Scrum</a>
        <a href="{{url_for('questionario_modulo5')}}">Módulo 05: Estimativas</a>
    </div>
</div>


{%endblock conteudo%}