{% extends 'main/base.html' %}

{%block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/questionario.css') }}">{%endblock css%}
    
{% block title %}Questionários{% endblock title %}

{%block conteudo%}
<div class="questionarios-design">
    <h1>Questionários</h1>
</div>

<div class="container-questionarios">
    <div class="container-links-questionarios">     
        <a href="{{url_for('questionarios', id='introdução')}}">Módulo 01: Introdução</a>
        <a href="{{url_for('questionarios', id='responsabilidades')}}">Módulo 02: Responsabilidades</a>
        <a href="{{url_for('questionarios', id='eventos')}}">Módulo 03: Eventos de Scrum</a>
        <a href="{{url_for('questionarios', id='artefatos')}}">Módulo 04: Artefatos de Scrum</a>
        <a href="{{url_for('questionarios', id='estimativas')}}">Módulo 04: Estimativas</a>
    </div>
</div>


{%endblock conteudo%}