{% extends 'main/base.html' %}

{%block css%}<link rel="stylesheet" href="../static/css/questionario.css">{%endblock css%}

    


{%block conteudo%}
<div class="app-container">
    <h1>Quiz - Eventos de Scrum</h1>
    <div class="quiz">
        <h3 id="questao-local">Local da Questao</h3>
        <div id="answer-buttons">
            <button class="btn">Respostas 1</button>
            <button class="btn">Respostas 2</button>
            <button class="btn">Respostas 3</button>
            <button class="btn">Respostas 4</button>
        </div>
        <button id="next-btn">Próximo</button>

    </div>

</div>

<div class="container-fluid">
    <div class="pagination p7">
        <ul>
            <li><a class="is-active" href="/"><i class="ri-home-2-fill"></i></a></li>
            <li><a href="{{url_for('modulos')}}#modulo4">Ir para Modulo 04</a></li>
        </ul>
    </div>
</div>

<script src="../static/js/questionario_eventos.js"></script>
{%endblock conteudo%}
