{% extends 'base.html' %}

{%block css%}<link rel="stylesheet" href="{{ url_for('static', filename='css/questionario.css') }}">{%endblock css%}

    
{% block title %}Quiz - Scrum Master{% endblock title %}

{%block conteudo%}
<div class="app-container">
    <h1>Quiz - Scrum Master</h1>
    <div class="quiz">
        <h2 id="questao-local">Local da Questao</h2>
        <div id="answer-buttons">
            <button class="btn">Respostas 1</button>
            <button class="btn">Respostas 2</button>
            <button class="btn">Respostas 3</button>
            <button class="btn">Respostas 4</button>
        </div>
        <button id="next-btn">Próximo</button>

    </div>

</div>

<img class="img-return" src="/static/imagens/return-58.svg" alt="" onclick="window.location.href='/responsabilidades/scrum'">

{%endblock conteudo%}
{%block script%}<script src="../static/js/questionario_sm.js"></script>{%endblock script%}