{% extends 'base.html' %}

{%block css%}<link rel="stylesheet" href="../static/css/dev.css"> {%endblock css%}
    
{% block title %}{% endblock title %}

{%block conteudo%}
<div class="div_principal_dev">
    <div class="div_conteudo_dev">
        <h1 class="titulo_dev">Time de Desenvolvimento</h1>
        <br>
        <p>O time de desenvolvimento é um componente essencial em projetos de desenvolvimento de software, responsável por transformar os requisitos do cliente em produtos funcionais e de alta qualidade. Composto por uma equipe multidisciplinar de profissionais de diferentes áreas, o time de desenvolvimento trabalha em colaboração para criar soluções inovadoras e eficientes que atendam às necessidades e expectativas dos usuários finais.</p>

        <br><br>





        <h4>Características do Time de Desenvolvimento</h4>
        <br>
        <ul>


        <li><p><b>Implementação de Funcionalidades:</b><br>

            Desenvolver códigos e scripts que implementem as funcionalidades especificadas nos requisitos do produto.
            Utilizar as melhores práticas de programação e padrões de design para garantir a qualidade, eficiência e manutenibilidade do código.</p></li>
            <li><p><b>Colaboração Ativa:</b><br>
            
            Participar de reuniões diárias de scrum e outras atividades de planejamento e revisão, compartilhando atualizações de progresso e discutindo desafios e soluções.
            Colaborar de forma eficaz com outros membros do time de desenvolvimento e com o Product Owner para garantir o alinhamento e entendimento dos requisitos e prioridades do produto.</p></li>

            <li><p><b>Testes e Qualidade de Software:</b><br>

            Realizar testes unitários, de integração e de sistema para garantir a qualidade e a estabilidade do software desenvolvido.
            Identificar e corrigir bugs e problemas de desempenho em tempo hábil, garantindo uma experiência de usuário satisfatória.</p></li>

            <li><p><b>Iteração e Melhoria Contínua:</b><br>

            Participar ativamente de processos de retrospectiva e feedback para identificar oportunidades de melhoria no processo de desenvolvimento e na colaboração da equipe.
            Buscar constantemente aprender e aplicar novas tecnologias, ferramentas e metodologias que possam otimizar o trabalho do time e aumentar a eficiência do desenvolvimento.</p></li>

            <li><p><b>Comunicação Transparente:</b><br>

            Manter uma comunicação clara e transparente com os membros da equipe e stakeholders, compartilhando informações relevantes, progresso e desafios.
            Estabelecer uma cultura de comunicação aberta e colaborativa, onde os membros da equipe se sintam à vontade para expressar ideias, preocupações e sugestões.
            </p></li>

            <li><p><b>Compromisso com os Objetivos do Produto:</b><br>

            Demonstrar compromisso e dedicação para alcançar os objetivos e metas estabelecidos para o produto, trabalhando de forma diligente e focada para entregar valor aos clientes e stakeholders.
            Adaptar-se a mudanças nos requisitos e prioridades do produto, priorizando tarefas e funcionalidades de acordo com as necessidades do negócio.</p></li>

   

        </ul>
    </div>




</div>
















{%endblock conteudo%}