{% extends 'base.html' %}

{%block css%}<link rel="stylesheet" href="../static/css/celso.css"> {%endblock css%}
    
{% block title %}{% endblock title %}

{%block conteudo%}
<div class="div_principal">
    <div class="div_conteudo">
        <h1 class="titulo_dev">Time de Desenvolvimento</h1>
        <br>
        <p>O time de desenvolvimento é um componente essencial em projetos de desenvolvimento de software, responsável por transformar os requisitos do cliente em produtos funcionais e de alta qualidade. Composto por uma equipe multidisciplinar de profissionais de diferentes áreas, o time de desenvolvimento trabalha em colaboração para criar soluções inovadoras e eficientes que atendam às necessidades e expectativas dos usuários finais.</p>

        <br><br>





        <h2>Características dos DEVs</h2>
        <br>
     


        <h3>Implementação de Funcionalidades</h3>

        <p>Desenvolver códigos e scripts que implementem as funcionalidades especificadas nos requisitos do produto. Utilizar as melhores práticas de programação e padrões de design para garantir a qualidade, eficiência e manutenibilidade do código.</p>
            
        <h3>Colaboração Ativa</h3>
        <p>Participar de reuniões diárias de scrum e outras atividades de planejamento e revisão, compartilhando atualizações de progresso e discutindo desafios e soluções. Colaborar de forma eficaz com outros membros do time de desenvolvimento e com o Product Owner para garantir o alinhamento e entendimento dos requisitos e prioridades do produto.</p>

        <h3>Testes e Qualidade de Software</h3>

        <p>Realizar testes unitários, de integração e de sistema para garantir a qualidade e a estabilidade do software desenvolvido.
            Identificar e corrigir bugs e problemas de desempenho em tempo hábil, garantindo uma experiência de usuário satisfatória.</p>

        <h3>Iteração e Melhoria Contínua</h3>

        <p>Participar ativamente de processos de retrospectiva e feedback para identificar oportunidades de melhoria no processo de desenvolvimento e na colaboração da equipe. Buscar constantemente aprender e aplicar novas tecnologias, ferramentas e metodologias que possam otimizar o trabalho do time e aumentar a eficiência do desenvolvimento.</p>

        <h3>Comunicação Transparente</h3>

        <p>Manter uma comunicação clara e transparente com os membros da equipe e stakeholders, compartilhando informações relevantes, progresso e desafios. Estabelecer uma cultura de comunicação aberta e colaborativa, onde os membros da equipe se sintam à vontade para expressar ideias, preocupações e sugestões.</p>
            

            <h3>Compromisso com os Objetivos do Produto</h3>

        <p>Demonstrar compromisso e dedicação para alcançar os objetivos e metas estabelecidos para o produto, trabalhando de forma diligente e focada para entregar valor aos clientes e stakeholders. Adaptar-se a mudanças nos requisitos e prioridades do produto, priorizando tarefas e funcionalidades de acordo com as necessidades do negócio.</p>

   


    </div>

    <div class="quiz-link">
        <h2>Para reforçar o conhecimento adquirido nesse topico: </h2>
        <a href="{{url_for('questionarios', id='dev')}}">Ir para questionário</a>
    </div>


</div>
















{%endblock conteudo%}