{% extends 'main/base.html' %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock css %}

{% block conteudo %}
<style>
    .term {
    color: blue;
    cursor: pointer;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.dict-content{
    list-style: none;
}
.dict-content li{
    border: 0.1rem solid black;
    list-style: none;
    padding: 1rem;
}
.dict-content li a{
    color: black;
    
}

.dict-heading{
    background-color: black;
    color: white;
    text-align: center;
}

.dict-section{
    background: #222;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    padding: 3rem;

}

.dict-section h1{
    color: #fff;
    text-transform: uppercase;
}

.dict-section input{
    border-radius: 2rem;
    padding: 1rem;
    width: 40%;
}

@media screen and (max-width:1024px){

    .dict-section{
        padding: 0rem;
        padding-block: 2rem;
    }
    .dict-section input{
    width: 80%;
    
}
}

@media screen and (max-width:350px){
    .dict-section input{
    width: 100%;
}
}
</style>
{% include 'include_files/navbar-dropdown.html' %} 
<div class="dict-section">

    <input type="text" id="searchInput" placeholder="Buscar" >
</div>

<div class="section-content">

    <p>Clique em um termo para ver a descrição:</p>
    
    



    <ul class="dict-content">
        <li class="dict-heading">A</li>
        <li><a href="#" class="term" data-term="artefato">Artefato</a></li>
        <li><a href="#" class="term" data-term="aceitacao">Aceitação (Critérios de Aceitação)</a></li>
        <li><a href="#" class="term" data-term="agile">Ágil (Agile)</a></li>
        <li><a href="#" class="term" data-term="aperfeicoamento">Aperfeiçoamento do Backlog (Backlog Refinement)</a></li>
        <li><a href="#" class="term" data-term="adaptar">Adaptar (Adapt)</a></li>
        <li><a href="#" class="term" data-term="aprovacao">Aprovação (Approval)</a></li>
        <li><a href="#" class="term" data-term="autoOrganizacao">Auto-organização (Self-organization)</a></li>
        <li><a href="#" class="term" data-term="atribuicao">Atribuição de Tarefas (Task Assignment):</a></li>
        <li><a href="#" class="term" data-term="analiseValor">Análise de Valor (Value Analysis)</a></li>
        <li><a href="#" class="term" data-term="acompanhamento">Acompanhamento de Progresso (Progress Tracking)</a></li>
        <li class="dict-heading">B</li>
        <li><a href="#" class="term" data-term="productBacklog">Backlog do Produto (Product Backlog)</a></li>
        <li><a href="#" class="term" data-term="sprintBacklog">Backlog da Sprint (Sprint Backlog)</a></li>
        <li><a href="#" class="term" data-term="burndownChart">Burndown Chart (Gráfico Burndown)</a></li>
        <li><a href="#" class="term" data-term="backlogRefinement">Backlog Refinement (Refinamento do Backlog)</a></li>
        <li><a href="#" class="term" data-term="bugs">Bugs (Defeitos)</a></li>
        <li><a href="#" class="term" data-term="brainstorming">Brainstorming (Tempestade de Ideias)</a></li>
        <li><a href="#" class="term" data-term="stakeholder">Beneficiário (Stakeholder)</a></li>
        <li><a href="#" class="term" data-term="boxing">Boxing (Timeboxing)</a></li>
        <li><a href="#" class="term" data-term="buffer">Buffer (Buffer)</a></li>

        <li class="dict-heading">C</li>
        <li><a href="#" class="term" data-term="cadencia">Cadência (Cadence)</a></li>
        <li><a href="#" class="term" data-term="capacidade">Capacidade (Capacity)</a></li>
        <li><a href="#" class="term" data-term="cerimonias">Cerimônias (Ceremonies)</a></li>
        <li><a href="#" class="term" data-term="colaboracao">Colaboração (Collaboration)</a></li>
        <li><a href="#" class="term" data-term="comprometimento">Comprometimento (Commitment)</a></li>
        <li><a href="#" class="term" data-term="construcaoIncremental">Construção Incremental (Incremental Build)</a></li>
        <li><a href="#" class="term" data-term="criteriosDeAceitacao">Critérios de Aceitação (Acceptance Criteria)</a></li>
        <li><a href="#" class="term" data-term="cicloDeVida">Ciclo de Vida (Lifecycle)</a></li>
        <li><a href="#" class="term" data-term="cliente">Cliente (Customer)</a></li>
        <li><a href="#" class="term" data-term="confianca">Confiança (Trust)</a></li>
        <li class="dict-heading">D</li>
        <li><a href="#" class="term" data-term="dailyScrum">Daily Scrum</a></li>
        <li><a href="#" class="term" data-term="definitionOfDone">Definition of Done</a></li>
        <li><a href="#" class="term" data-term="demo">Demo</a></li>
        <li><a href="#" class="term" data-term="devOps">DevOps</a></li>
        <li><a href="#" class="term" data-term="debt">Débito Técnico (Technical Debt)</a></li>

        <li class="dict-heading">E</li>
        <li><a href="#" class="term" data-term="estimativa">Estimativa (Estimation)</a></li>
        <li><a href="#" class="term" data-term="entregaContinua">Entrega Contínua (Continuous Delivery)</a></li>
        <li><a href="#" class="term" data-term="epic">Épico (Epic)</a></li>
        <li><a href="#" class="term" data-term="equipe">Equipe (Team)</a></li>
        <li><a href="#" class="term" data-term="escopo">Escopo (Scope)</a></li>

        <li class="dict-heading">F</li>
        <li><a href="#" class="term" data-term="feedback">Feedback</a></li>
        <li><a href="#" class="term" data-term="framework">Framework</a></li>

        <li class="dict-heading">G</li>
        <li><a href="#" class="term" data-term="gerenteDeProduto">Gerente de Produto (Product Manager)</a></li>

        <li class="dict-heading">J</li>
        <li><a href="#" class="term" data-term="justInTime">Just-in-Time (JIT)</a></li>

        <li class="dict-heading">K</li>
        <li><a href="#" class="term" data-term="kanban">Kanban</a></li>

        <li class="dict-heading">L</li>
        <li><a href="#" class="term" data-term="leadTime">Lead Time</a></li>
        <li><a href="#" class="term" data-term="lean">Lean</a></li>
        <li><a href="#" class="term" data-term="lifecycle">Lifecycle- Ciclo de Vida</a></li>
        
        <li class="dict-heading">M</li>
        <li><a href="#" class="term" data-term="meta">Meta da Sprint (Sprint Goal)</a></li>
        <li><a href="#" class="term" data-term="meeting">Reunião (Meeting)</a></li>
        <li><a href="#" class="term" data-term="mvp">Produto Mínimo Viável (Minimum Viable Product - MVP)</a></li>

        <li class="dict-heading">N</li>
        <li><a href="#" class="term" data-term="negociacao">Negociação (Negotiation)</a></li>
        <li><a href="#" class="term" data-term="nexus">Nexus</a></li>

        <li class="dict-heading">O</li>
        <li><a href="#" class="term" data-term="ownership">Ownership - Propriedade</a></li>
        <li><a href="#" class="term" data-term="observability">Observabilidade (Observability)</a></li>
        <li><a href="#" class="term" data-term="overhead">Overhead</a></li>
        
        <li class="dict-heading">P</li>
        <li><a href="#" class="term" data-term="productBacklog">Backlog do Produto (Product Backlog)</a></li>
        <li><a href="#" class="term" data-term="productOwner">Product Owner</a></li>
        <li><a href="#" class="term" data-term="planningPoker">Planning Poker</a></li>
        <li><a href="#" class="term" data-term="productIncrement">Incremento do Produto (Product Increment)</a></li>

        <li class="dict-heading">R</li>
        <li><a href="#" class="term" data-term="retrospectiva">Retrospectiva (Retrospective)</a></li>
        <li><a href="#" class="term" data-term="release">Release</a></li>
        <li><a href="#" class="term" data-term="risk">Risco (Risk)</a></li>
        <li><a href="#" class="term" data-term="nfr">Requisitos Não Funcionais (Non-Functional Requirements - NFR)</a></li>
        <li><a href="#" class="term" data-term="functionalRequirements">Requisitos Funcionais (Functional Requirements)</a></li>

        <li class="dict-heading">S</li>
        <li><a href="#" class="term" data-term="scrum">Scrum</a></li>
        <li><a href="#" class="term" data-term="scrumMaster">Scrum Master</a></li>
        <li><a href="#" class="term" data-term="sprint">Sprint</a></li>

        <li class="dict-heading">T</li>

        <li><a href="#" class="term" data-term="task">Tarefa (Task)</a></li>
        <li><a href="#" class="term" data-term="timeboxing">Timeboxing</a></li>

        <li class="dict-heading">U</li>
        <li><a href="#" class="term" data-term="userStory">História de Usuário (User Story)</a></li>
        <li><a href="#" class="term" data-term="unitTesting">Teste Unitário (Unit Testing)</a></li>
        <li><a href="#" class="term" data-term="velocity">Velocidade (Velocity)</a></li>

        <li class="dict-heading">V</li>
        <li><a href="#" class="term" data-term="velocity">Velocidade (Velocity)</a></li>
        <li><a href="#" class="term" data-term="value">Valor (Value)</a></li>
        <li><a href="#" class="term" data-term="vision">Visão (Vision)</a></li>


        <!-- Adicione mais termos conforme necessário -->
    </ul>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2 id="modal-title"></h2>
            <p id="modal-description"></p>
        </div>
    </div>
</div>


{%block script%}<script rel="script" src="/static/js/dicionario.js"></script>{%endblock script%}
{% endblock conteudo %}
