{% extends 'base.html' %}

{%block title%} {%endblock title%}
{%block conteudo%}
<div class="container bg-warning">
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Error, obcaecati molestias nisi quod necessitatibus placeat similique illo earum ab sapiente deleniti animi consequuntur nesciunt eaque. At explicabo nulla doloremque aperiam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique earum dolorem quod quo. Voluptatibus quis cum sint et totam magni nesciunt ut! Exercitationem molestias, ratione ex neque commodi eaque beatae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, esse ducimus? Facilis adipisci similique rerum, laboriosam laudantium earum dolore itaque atque optio doloremque. Porro nam vel ex soluta quam et? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Optio, deserunt dolorem. Culpa dolore quaerat ratione magnam, voluptas quos quia voluptate fuga dicta, itaque id nemo soluta maiores necessitatibus vero vitae!</p>
</div>

{%endblock conteudo%}