{% extends 'base.html' %}

{%block css%}<link rel="stylesheet" href="../static/css/index.css">{%endblock css%}
{%block title%} SCRUM {%endblock title%}
{%block conteudo%}
<div class="main-container">

    <div class="index-content">
        <h1>Aprenda SCRUM</h1>
        <p>Descubra todos os processos e artefatos da metodologia ágil Scrum com conceitos e fundamentos</p>
        <a href="" class="btn ">Começar</a>
    </div>

</div>

<div class="index-container-section-one">
    <div class="index-cards">

        <img src="/static/imagens/eventos-scrum.png" alt="">
        <div class="index-cards-body">
            <h2>Eventos de Scrum</h2>
             <p>Explore os eventos fundamentais do Scrum: planeje, revise e melhore. Descubra como Sprint Planning, Daily Scrum, Sprint Review e Sprint Retrospective impulsionam a colaboração e a entrega de valor.</p>
            <a href="">Saiba mais</a>
        </div>
        
    </div>

    <div class="index-cards">
        <img src="/static/imagens/product-artefact.jpg" alt="">
        <div class="index-cards-body">
            <h2>Artefatos de Scrum</h2>
            <p>Conheça os artefatos essenciais do Scrum: Product Backlog, Sprint Backlog e Product Increment. Saiba como esses elementos auxiliam na definição, planejamento e entrega de produtos de alta qualidade.</p>
            <a href="">Saiba mais</a>
        </div>
    </div>

</div>


<div class="index-container-section-two">

<h2>Questionarios</h2>
<p></p>

</div>

{%endblock conteudo%}