{% extends 'base.html' %}

{% block css %}
<link rel="stylesheet" href="../static/css/kanban.css">
<link rel="stylesheet" href="../static/css/celso.css">
{% endblock css %}

{% block title %}Kanban{% endblock title %}

{% block conteudo %}


<!--             !!!!!!!!!!!!!!!!!!!!!!!!!!!   NEW CONTENT   !!!!!!!!!!!!!!!!!!!!! -->

<div class="content-main">
    <div class="div_principal">
        <div class="div_conteudo">
            <h1>Kanban</h1>

            <div class="img">
                <img src="../static/imagens/../imagens/kanban.png">
            </div>

            <p> Kanban: é uma ferramenta de Metodologia de Gestão de Projetos, uma ferramenta poderosa para organizar e
                gerenciar fluxos de trabalho de forma visual, promovendo transparência, colaboração e melhoria contínua.
            </p>

            <h2>Conceitos</h2>


            <h3>Visualização do Trabalho:</h3>

            <p>O Kanban utiliza um quadro visual (geralmente dividido em colunas) para representar o fluxo de trabalho.
                Cada item de trabalho é representado por um cartão ou post-it, e o movimento desses itens pelas colunas
                do quadro reflete o progresso do trabalho.</p>

            <h3>Limitação do Trabalho em Progresso (WIP):</h3>

            <p>O Kanban enfatiza a importância de limitar o trabalho em progresso em cada etapa do processo. Isso ajuda
                a evitar gargalos e sobrecarga, mantendo um fluxo de trabalho mais suave.</p>

            <h3>Gestão do Fluxo:</h3>

            <p>O objetivo do Kanban é maximizar a eficiência do fluxo de trabalho, garantindo que o trabalho flua de
                forma contínua e rápida pelas etapas do processo.</p>

            <h3>Feedback contínuo e melhoria:</h3>

            <p>O Kanban encoraja a busca contínua por melhorias no processo. Isso é feito através da análise do
                desempenho do quadro Kanban e da identificação de oportunidades para otimizar o fluxo de trabalho.</p>


            <h2>Aplicação</h2>
            <h3> Projeto do Quadro Kanban </h3>
            <p>Desenhar e configurar o quadro Kanban é fundamental para refletir as etapas do processo de trabalho da
                equipe. Isso envolve planejar cada coluna do quadro com cuidado para acompanhar o progresso das tarefas
                e permitir ajustes conforme necessário ao longo do tempo.</p>
            <h3>Gestão do Fluxo de Trabalho</h3>
            <p>Movimentar os cartões pelo quadro e garantir um fluxo de trabalho contínuo são aspectos essenciais do
                Kanban. A equipe deve monitorar o progresso das tarefas e resolver bloqueios prontamente para garantir
                uma entrega eficiente e no prazo.</p>
            <h3>Análise e Melhoria Contínua</h3>
            <p>Rever regularmente o desempenho do quadro Kanban, identificar áreas de oportunidade para melhorias e
                implementar ajustes são práticas cruciais para garantir a eficácia contínua do método Kanban. Isso
                permite que a equipe otimize o fluxo de trabalho e aumente a eficiência ao longo do tempo.</p>

        </div>
    </div>

    <div class="resume-section">
        <div class="resume-title">
            <h2>KANBAN x SCRUM</h2>
        </div>
        <div class="resume-card">
            <h3>KANBAN</h3>
            <ul class="resume-list">
                <li>Uma abordagem mais flexível, focada na melhoria contínua do fluxo de trabalho. Não tem iterações
                    fixas e não possui papéis ou cerimônias prescritas. Além disso, o Kanban enfatiza a visualização do
                    trabalho, limitação do trabalho em progresso e gestão do fluxo.</li>

            </ul>
        </div>

        <div class="resume-card">
            <h3>SCRUM</h3>
            <ul class="resume-list">
                <li>Estrutura mais prescritiva, com papéis definidos (Product Owner, Scrum Master, Team) e cerimônias
                    como Sprint Planning, Daily Standups, Sprint Review e Sprint Retrospective. O Scrum é conhecido por
                    suas iterações de tempo fixo chamadas de sprints e enfatiza a colaboração e a comunicação entre os
                    membros da equipe.</li>

            </ul>
        </div>

        <div class="div_conteudo">
            <h3 style="text-align: center;">Qual a melhor estratégia?</h3>

            <p>A escolha entre Kanban e Scrum depende das necessidades específicas da equipe ou organização, bem
                como do contexto do projeto. Alguns pontos a considerar ao tomar essa decisão incluem o grau de
                flexibilidade desejado, a natureza do trabalho a ser realizado, a maturidade da equipe em
                relação às práticas ágeis e a capacidade de adaptação a mudanças. Em geral, o Kanban pode ser
                mais adequado para equipes que lidam com fluxos de trabalho variáveis e que valorizam a
                flexibilidade, enquanto o Scrum pode ser preferível para projetos que exigem iterações fixas e
                uma estrutura mais prescritiva.</p>
                
            <img class="img" src='../static/imagens/versus.png' rel='versus'>

        </div>
    </div>


    <!-- <div class="card-grid">
        <div id="card-left" class="card">
            <div class="card-face card-face__front-content">
                <h4>Qual é uma das principais diferenças entre Scrum e Kanban?</h4>
                <button class="btn" parent-id="card-left" toggle-class='card__rotate-left'>Resposta</button>
            </div>
            <div class="card-face card-face__back-content card-face__rotate-left">
                <div>
                    <p>Uma das principais diferenças entre Scrum e Kanban é o modo como o trabalho é planejado e
                        gerenciado. No Scrum, o trabalho é dividido em iterações chamadas de "sprints", enquanto no
                        Kanban, o trabalho é visualizado em um quadro Kanban e as tarefas são movidas por colunas, sem a
                        necessidade de iterações definidas.</p>
                </div>

                <button class="btn" parent-id="card-left" toggle-class='card__rotate-left'>Pergunta</button>
            </div>
        </div> -->

        <!-- <div id="card-right" class="card">
            <div class="card-face card-face__front-content">
                <h4>Como o Scrum e o Kanban diferem em relação ao foco no tempo e nas iterações?</h4>
                <button class="btn" parent-id="card-right" toggle-class='card__rotate-right'>Resposta</button>
            </div>
            <div class="card-face card-face__right card-face__back-content card-face__rotate-right">
                <p>Enquanto o Scrum tem um foco forte no tempo e no conceito de sprints com duração fixa, o Kanban não
                    tem iterações predefinidas e se concentra mais na capacidade de resposta às demandas do trabalho em
                    andamento, permitindo um fluxo contínuo de trabalho.</p>

                <button class="btn" parent-id="card-right" toggle-class='card__rotate-right'>Pergunta</button>
            </div>
        </div>
    </div>
    <script>
        /*********************************************
    * tested against chrome, safari, and firefox *
    **********************************************/

        var btnList = document.getElementsByClassName('btn');

        for (var i = 0; i < btnList.length; i++) {
            btnList[i].addEventListener("click", function () {
                flipCard(this);
            });
        }

        function flipCard(_this) {
            const parentNodeId = 'parent-id';
            const toggleClassId = 'toggle-class';
            const parentId = _this.getAttribute(parentNodeId);
            const toggleId = _this.getAttribute(toggleClassId);

            if (parentId && toggleId) {
                let card = document.getElementById(parentId);
                if (card) {
                    card.classList.toggle(toggleId);
                } else {
                    console.log('card not found')
                }
            } else {
                console.log('parentId and/or toggleId not found')
            }
        }
    </script> -->

</div>




    {% endblock conteudo %}