{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/css/kanban.css">
{%endblock css%}
    
{% block title %}Kanban{% endblock title %}

{%block conteudo%}


<main> 
    <div class='background'>
        <div>
            <div class="container-fluid p-5 bg-primary text-white text-center">
                <h1 class="display-2">Kanban</h1>
                <p class= "subt">Metodologia de Gestão de Projetos</p> 
            </div>
            
                <div class="container">
                    <div class="row">
                    <div class="col-md-4">
                        <h3 class="subt2">Conceitos</h3>
                        <p class="topic">- Visualização do trabalho;<br>- Limitação do trabalho;<br>
                            - Gestão de Fluxo;<br>- Melhoria continua.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="subt2">Aplicação</h3>
                        <p class="topic">- Projeto do Quadro; <br>- Gestão do Fluxo;<br>- Análise e Melhoria.</p>
                    </div>
                    <div class="col-md-4">
                        <h3 class="subt2">Vantagens</h3>
                        <p class="topic">- Visualização Clara do Trabalho; <br>- Flexibilidade;<br>
                            - Gestão de Fluxo Eficiente.</p></p>
                    </div>
                    </div>
                </div>
        </div>






        

        <!--Conceitos-->
        <div class='background-img'>
            <h3 class='titulo'><br><br>Conceitos</h3>
        
            <h4 class='subt3'>Visualização do Trabalho:</h4>
            <p class="texto">
                O Kanban utiliza um quadro visual (geralmente dividido em colunas) para representar o fluxo de trabalho. Cada item de trabalho é representado por um cartão ou post-it, e o movimento desses itens pelas colunas do quadro reflete o progresso do trabalho.
            </p>
        
            <h4 class='subt3'>Limitação do Trabalho em Progresso (WIP):</h4>
            <p class='texto'>
                O Kanban enfatiza a importância de limitar o trabalho em progresso em cada etapa do processo. Isso ajuda a evitar gargalos e sobrecarga, mantendo um fluxo de trabalho mais suave.
            </p>
        
            <h4 class='subt3'>Gestão do Fluxo:</h4>
            <p class='texto'>
                O objetivo do Kanban é maximizar a eficiência do fluxo de trabalho, garantindo que o trabalho flua de forma contínua e rápida pelas etapas do processo.
            </p>
        
            <h4 class='subt3'>Feedback contínuo e melhoria:</h4>
            <p class='texto'>
                O Kanban encoraja a busca contínua por melhorias no processo. Isso é feito através da análise do desempenho do quadro Kanban e da identificação de oportunidades para otimizar o fluxo de trabalho.<br><br>
            </p>
        </div>
        

        <!--Aplicação-->
        <div class="container p-5 my-5 bg-dark text-white"></div>
        <div class=>
            <h3 class="titulo">Aplicação</h3>
            <h4 class='subt3'>asdasdas</h4>
            <p1 class="texto">Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                Lorem ipsum dolor sit amet, consectetur adipisicing elit... </p1>
            </div>
        </div>   

        <!--Kanban vs Scrum-->
        <div class="container p-5 my-5 bg-dark text-white"></div>
        <div>
            <h3 class="titulo">Kanban vs Scrum</h3>
            <h4 class='subt3'>asdasdas</h4>
            <p1 class="texto">Lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit...
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit... </p1>

        </div>  
    </div> 
</main>




{%endblock conteudo%}