{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="../static/css/celso.css"> {%endblock css%}

{% block title %}Product Owner{% endblock title %}

{%block conteudo%}
<div class="container-eventos">

    <div class="section-content">

        <h2>Product Owner</h2>

        <div class="img">
            <img src="../static/imagens/product-owner.png">
        </div>

        <p>O Product Owner desempenha um papel vital no desenvolvimento ágil de software, atuando como o principal
            elo entre a equipe de desenvolvimento e os stakeholders do projeto. Responsável por representar os
            interesses do cliente e definir as prioridades do produto, o Product Owner desempenha um papel crucial
            na garantia de que o produto desenvolvido atenda às necessidades do usuário final e atinja os objetivos
            de negócio.</p>
    </div>

    <div class="section-content">

        <h2>Características da Product Owner</h2>

    </div>
    <div class="section-content">
        <h3>Definir a Visão do Produto:</h3>

        <p>Estabelecer uma visão clara e abrangente para o produto, alinhada aos objetivos estratégicos da
            empresa.
            Comunicar e compartilhar essa visão com a equipe de desenvolvimento e demais stakeholders.</p>
    </div>
    <div class="section-content">
        <h3>Gerenciar o Backlog do Produto:</h3>

        <p>Criar e priorizar itens no backlog do produto, representando as necessidades e requisitos dos
            clientes e
            stakeholders.
            Manter o backlog constantemente atualizado, refinando e ajustando os itens conforme necessário.</p>
    </div>
    <div class="section-content">
        <h3>Colaborar com a Equipe de Desenvolvimento</h3>

        <p>Trabalhar em estreita colaboração com a equipe de desenvolvimento, esclarecendo dúvidas, fornecendo
            feedback e garantindo que as expectativas dos stakeholders sejam compreendidas e atendidas.
            Participar de reuniões diárias de scrum e outras atividades de planejamento e revisão.</p>
    </div>
    <div class="section-content">
        <h3>Tomar Decisões Prioritárias</h3>

        <p>Tomar decisões rápidas e informadas sobre quais funcionalidades e melhorias devem ser implementadas
            em
            cada ciclo de desenvolvimento.
            Considerar fatores como valor para o cliente, retorno sobre o investimento e necessidades do mercado
            ao
            definir as prioridades.</p>
    </div>
    <div class="section-content">
        <h3>Validar e Aceitar Entregas</h3>

        <p> Avaliar as entregas da equipe de desenvolvimento para garantir que atendam aos critérios de
            aceitação e
            às expectativas dos stakeholders.
            Fornecer feedback construtivo e orientações para melhorias contínuas.</p>
    </div>
    <div class="section-content">
        <h3>Manter o Foco no Valor do Negócio</h3>

        <p>Assegurar que o desenvolvimento do produto esteja alinhado aos objetivos de negócio e que cada
            funcionalidade implementada agregue valor tangível para os usuários e a empresa.
            Priorizar a entrega de recursos que maximizem o retorno sobre o investimento.</p>
    </div>
    <div class="section-content">
        <h3>Adaptar-se às Mudanças</h3>

        <p>Estar preparado para mudanças nos requisitos do produto e no ambiente de mercado, ajustando as
            prioridades e o backlog do produto conforme necessário.
            Facilitar uma mentalidade de adaptação e aprendizado contínuo dentro da equipe.</p>
    </div>


</div>


<div class="t">
    <h2>Resumo - Product Owner</h2>
</div>

<div class="card-container">

    <div class="card">
        <div class="card-content">
            <h2>Papel do Product Owner</h2>
            <ul class="topico-resumo">
                <li> O Product Owner representa os clientes, priorizando e gerenciando o backlog do produto.</li>
            <li>Trabalha próximo à equipe, esclarecendo dúvidas e garantindo que as expectativas dos stakeholders
                sejam atendidas.</li>
            <li>Tomada de decisões ágeis sobre funcionalidades, considerando o valor para o cliente e o retorno
                sobre o investimento.</li>
            <li>Avaliação das entregas para garantir qualidade e valor para o negócio.</li>
            <li>Capacidade de ajustar prioridades e backlog conforme mudanças no mercado e requisitos, promovendo
                uma cultura de adaptação na equipe.</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>Responsabilidades</h2>
            <ul class="topico-resumo">
                <li>Representa os interesses dos clientes, garantindo que suas necessidades sejam atendidas.</li>
                <li>Define e prioriza as funcionalidades do produto no backlog, alinhando-se com as demandas do mercado
                    e do negócio.</li>
                <li> Colabora estreitamente com a equipe de desenvolvimento, garantindo compreensão e implementação
                    eficaz da visão do produto.</li>
                <li>Decide quais funcionalidades serão desenvolvidas, considerando o valor para o cliente e para o
                    negócio.</li>
                <li> Valida as entregas da equipe e assegura que agreguem valor real para os usuários e a empresa.</li>
            
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>Habilidades e Qualidades</h2>
            <ul class="topico-resumo">
                <li>Habilidade para expressar a visão do produto e ouvir feedback de forma clara.</li>
                <li>Empatia e compreensão das necessidades de clientes e equipe.</li>
                <li>Alinhamento estratégico das decisões de desenvolvimento com os objetivos empresariais.</li>
                <li>Capacidade de se ajustar a mudanças nos requisitos do produto e no mercado.</li>
                <li>Decidir de forma rápida e precisa.</li>
            
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>Melhoría Contínua </h2>
            <ul class="topico-resumo">
                <li>Priorizar uma comunicação aberta para identificar áreas de melhoria constantemente.</li>
            <li>Estar sempre aberto a aprender e atualizar habilidades e conhecimentos relevantes.</li>
            <li> Realizar análises periódicas para identificar pontos de aprimoramento e implementar mudanças
                necessárias.</li>
            <li>Ser ágil na resposta a mudanças e ajustar estratégias conforme necessário.</li>
            <li>Fomentar um ambiente que valorize a inovação e a busca por excelência.</li>
            
            </ul>
        </div>
    </div>
 
</div>

<div class="quiz-link">
    <h2>Para reforçar o conhecimento adquirido nesse topico: </h2>
    <a href="{{url_for('questionarios', id='po')}}">Ir para questionário</a>
</div>
</div>
{%endblock conteudo%}