{% extends 'base.html' %}

{%block css%}<link rel="stylesheet" href="../static/css/questionario.css">{%endblock css%}
    
{% block title %}{% endblock title %}

{%block conteudo%}
<div class="questionarios-design">
    <h1>Questionários</h1>
</div>

<div class="container-questionarios">
    <div class="container-links-questionarios">     
        <a href="{{url_for('questionarios', id='scrum-master')}}">Scrum Master</a>
        <a href="{{url_for('questionarios', id='po')}}">Product Owner</a>
        <a href="{{url_for('questionarios', id='dev')}}">Time de Desenvolvimento</a>
    </div>
</div>


{%endblock conteudo%}