{% extends 'base.html' %}

{%block css%}
<link rel="stylesheet" href="/static/css/celso.css"> {%endblock css%}

{% block title %}Scrum Master{% endblock title %}

{%block conteudo%}
<div class="container-eventos">

    <div class="section-content">

        <h2>Scrum Master</h2>

        <div class="img">
            <img src="../static/imagens/scrum-master.png">
        </div>

        <p>O Scrum Master desempenha várias funções fundamentais para o sucesso da equipe Scrum. Ele atua como
            facilitador, garantindo que as reuniões, como o Daily Standup e o planejamento de sprint, sejam
            conduzidas
            conforme os princípios do Scrum, e como coach, ajudando a equipe a entender e aplicar os valores ágeis,
            resolvendo problemas que possam surgir. Além disso, como removedor de obstáculos, ele elimina barreiras
            que
            possam impedir o progresso da equipe e protege a integridade do Scrum como guardião do processo,
            promovendo
            a autonomia da equipe e facilitando a colaboração na tomada de decisões. Por fim, o Scrum Master
            catalisa a
            melhoria contínua, facilitando retrospectivas e incentivando a equipe a experimentar novas abordagens
            para
            alcançar melhores resultados, garantindo assim que a equipe Scrum opere de forma eficaz e produtiva,
            promovendo uma cultura de colaboração, autonomia e melhoria contínua.</p>
    </div>

    <div class="section-content">

        <h2>Características do Scrum Master</h2>

    </div>

    <div class="section-content">
        <h3>Facilitador</h3>
        <p>O Scrum Master atua como um facilitador, ajudando a equipe a entender e adotar os princípios e
            práticas
            do Scrum. Ele facilita reuniões, como reuniões diárias (Daily Standup), planejamento de sprint,
            revisões
            de sprint e retrospectivas, garantindo que sigam os princípios do Scrum.</p>
    </div>

    <div class="section-content">
        <h3>Coach</h3>
        <p>O Scrum Master é um coach para a equipe Scrum, ajudando-os a entender e aplicar os valores e
            princípios
            ágeis. Eles fornecem orientação sobre como implementar o Scrum de maneira eficaz e ajudam a resolver
            quaisquer problemas ou obstáculos que a equipe possa enfrentar.</p>
    </div>

    <div class="section-content">
        <h3>Removedor de Obstáculos</h3>
        <p>O Scrum Master trabalha para remover obstáculos que possam impedir a equipe de atingir seus objetivos
            durante o sprint. Isso pode envolver coordenar com partes interessadas externas, resolver conflitos
            internos, ou fornecer recursos necessários para a equipe.</p>
    </div>

    <div class="section-content">
        <h3>Guardião do Processo</h3>

        <p>O Scrum Master protege o processo Scrum e garante que a equipe siga as práticas e valores ágeis. Eles
            ajudam a garantir que a equipe compreenda e siga os princípios do Scrum, mantendo a integridade do
            processo e evitando desvios ou modificações que possam prejudicar sua eficácia.</p>
    </div>

    <div class="section-content">
        <h3> Facilitador de Autonomia</h3>

        <p>O Scrum Master ajuda a equipe a se tornar auto-organizada, incentivando a tomada de decisões
            colaborativa
            e a responsabilidade compartilhada. Eles ajudam a equipe a identificar maneiras de melhorar seu
            processo
            e desempenho, encorajando a autogestão e a autoavaliação.</p>

    </div>

    <div class="section-content">
        <h3>Catalisador para Melhoria Contínua</h3>
        <p>O Scrum Master promove a melhoria contínua dentro da equipe Scrum, facilitando retrospectivas
            eficazes e
            ajudando a implementar ações corretivas. Eles incentivam a equipe a refletir sobre seu desempenho,
            identificar áreas de oportunidade e experimentar novas abordagens para alcançar resultados melhores.
        </p>
    </div>

</div>

<div class="card-container">



    <div class="resume-title">
        <h2>Resumo - Scrum Master</h2>
    </div>

    <div class="card">
        <div class="card-content">
            <h2>Papel do Scrum Master</h2>
            <ul class="topico-resumo">
                <li>Facilita o processo Scrum</li>
                <li>Auxilia a equipe a entender e adotar os princípios e práticas ágeis</li>
                <li>Ajuda a remover impedimentos</li>
                <li>Promove um ambiente de colaboração e auto-organização</li>
                <li>Protege a equipe de distrações externas e pressões desnecessárias</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h2>Responsabilidades</h2>
            <ul class="topico-resumo">
                <li>Garantir que o Scrum seja compreendido e adotado pela equipe</li>
                <li>Facilitar reuniões e eventos do Scrum, como Daily Scrum, Sprint Planning, Sprint Review e Sprint
                    Retrospective</li>
                <li>Ajudar a remover impedimentos que possam impedir o progresso da equipe</li>
                <li>Proteger a equipe de interferências externas e garantir um ambiente de trabalho adequado</li>
                <li>Apoiar o Product Owner na gestão do Product Backlog</li>
            </ul>

        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>Habilidades e Qualidades</h2>
            <ul class="topico-resumo">
                <li>Excelentes habilidades de comunicação e facilitação</li>
                <li>Empatia e habilidades interpessoais para lidar com diferentes personalidades na equipe</li>
                <li>Capacidade de resolver conflitos e facilitar a resolução de problemas</li>
                <li>Conhecimento sólido sobre metodologias ágeis e o framework Scrum</li>
                <li>Liderança servidora e compromisso com o sucesso da equipe</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h2>Melhorria contínua</h2>
            <ul class="topico-resumo">
                <li>Promover a cultura de melhoria contínua dentro da equipe</li>
                <li>Fomentar a reflexão e a adaptação após cada Sprint</li>
                <li>Identificar oportunidades de aprimoramento nos processos e práticas da equipe</li>
                <li>Facilitar retrospectivas eficazes para avaliar o desempenho e identificar áreas de melhoria</li>
                <li>Estimular a inovação e a experimentação para impulsionar a evolução do produto e do processo de
                    desenvolvimento</li>
            </ul>
        </div>
    </div>



</div>

<div class="quiz-link">
    <h2>Para reforçar o conhecimento adquirido nesse topico: </h2>
    <a href="{{url_for('questionarios', id='scrum-master')}}">Ir para questionário</a>
</div>
</div>
{%endblock conteudo%}